<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="supplierMapper">
  
  	<select id="supplierList" resultType="SupplierDTO">
  		select * from supplier order by code desc
  	</select>
  	
  	<insert id="supplierWrite" parameterType="SupplierDTO">
  		insert into supplier values(
  			#{code}, #{classification}, #{name}, #{business_number},
  			#{representative}, #{division}, #{division_mail},
  			#{bank}, #{account_number}
  		)
  	</insert>
  
  </mapper>