@CHARSET "UTF-8";

@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

#fw_container{
	width: 100%;
	height: 100%;
	background-color: lightblue;
	transition: width 0.3s;	
}

#fw_subcontainer{
	background-color: pink;
	float:left;
	width: 15%;
	height: 100%;
} 

#fw_subbanner{
		background-color: red;
		height: 8.5%;
		width: 100%;
		font-size : 30px;
		font-weight: bolder;
		text-align: center;
		line-height: 240.5%;
}

.fw_menu{
	width: 100%;
	height: 5%;
	float:left;
	background-color: yellow;
	  font-weight: bold;
    font-size: 16px;
    line-height: 324%;
    padding-left: 6%;
    padding-top:1%;
}


.fw_selected{
	color: red;
   
}

.fw_arrow{
	width:15%;
	float:right;
	height: 100%;
	background-color: purple;
	size:20px; 
}

.fw_subselected{
	width: 70%;
	background-color: #d1eaf1;
	margin: 0 auto;
	padding-top:1%;
}

.fw_subsub{
		width: 70%;
	background-color: #d1eaf1;
	margin: 0 auto;
	padding-top:1%;
}

#fw_main{
	background-color: green;
		height: 8.5%;
		width: 100%;
}

#fw_mainwrap{
	 /* background-color: blue; */
	 width: 72%;
	 height : 100%;
	 /* margin-left: 28%; */
	 float: left;
}


.ar_plusTitle{
	width: 100%;
	height: 5%;
	background-color: #ff6666;
	margin-bottom: 1%;
	
}

#ar_plustext{
	font-size: 18px;
	font-weight: bold;
	padding-top: 1.5%;
	margin-left: 2%;
}

.ar_plusSearchWrap{
	width: 100%;
	height: 7%;
	background-color: #fbc87b;
	margin-bottom:2%;
}

.ar_plusSearch{
	width: 50%;
	height: 50%;
	background-color: #c46200;
	margin-left: 2%;
}

#ar_psearch{
	 width: 20%;
    height: 77%;
    margin-left: 2%;
    margin-top: 1%;
}

#ar_psearchBtn{
	width: 12%;
    height: 75%;
	background-color: #ffff80;
	margin-left: 2%;
	border: 0px;
	font-size: 12px;
	margin-bottom: 0.5%;
}

.ar_plusDivWrap{
	width: 100%;
	height: 50%;
	background-color: #f0f779;
	margin-bottom: 2%;
	    overflow: scroll;
}


.ar_titleDiv{
	background-color: #b68db3;
	width: 100%;
	height: 10%;
	text-align: center;
	
}