@CHARSET "UTF-8";


*{
   margin: 0px;
   padding: 0px;
}

body, html {
    height: 100%;
}

a, a:VISITED, a:HOVER, a:AFTER {
	text-decoration: none;
	color: black;
}

.background-image {
	position: relative;
	
    /* The image used */
    background-image: url("../../resources/images/home/home.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_wrap{
	position: fixed;
	width: 33%;
    margin: 0 auto;
    background-color: #fefefe;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.7);
}

.menu_wrap{
   width: 100%;
   height: 25%;
}

.menu{
    width: 33.3%;
    height: 100%;
    background-color: white;
    font-size: 35px;
    text-align: center;
    word-break: keep-all;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0.5)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0.5)} 
    to {transform: scale(1)}
}

/*********************************************************/

.logo {
	width: 100%;
    height: 65px;
    border-bottom: 1px solid #f6f6f6;
    padding: 5px;
}


.table td {
	padding: 12px;
}

.container {
	padding-top: 10px;
}

.radioBox {
	display: block;
	float: left;
	width: 50%;
	text-align: center;
}

/* Full-width input fields */
.inputTextBox {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #cd5647;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 13px;
}

button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    position: relative;
	width: 50%;
	height: inherit;
    margin: 24px 0 12px 0;
    text-align: center;
    float: left;
}

img.avatar {
    width: 60%;
    border-radius: 50%;
}


.login-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}



/* 로그인 전  */

.login_wrap{
   background-color: yellow;
   width: 60%;
   height: 50%;
   border-radius: 15px;
   margin: 0 auto;
   margin-top: 10%;
   border: 10px solid black;

}

.logini_pic{
   background-color: lightgray;
   width: 45%;
   height: 100%;
   float: left;
}



.login{
  	background-color: gray;
   width: 55%;
   height: 100%;
   float: left;
}


.loginid {
    border-radius: 15px;
    width: 80%;
    height: 10%;   
    margin-bottom: 5%;
    margin-top: 25%;
}

.loginpw{
   border-radius: 15px;
   width: 80%;
   height: 10%;   
}

.wrap{
    margin-left: 8%;
}

.idsave{
   margin-left: 10%;
   margin-top: 3%;
   font-size: 14px;
}

.security{
   width: 80%;
   height: 25%;   
   margin-top: 5px;
   background-color: white;
}

.loginbtn{
      border-radius: 15px;
   width: 80%;
   height: 10%;   
   background-color: black;
   font-size: 18px;
   color: white;
   margin-top: 5%;
   
}

/* 로그인 후 */

 .login_after{
   background-color: yellow;
   width: 60%;
   height: 67%;
   margin: 0 auto;
   margin-top: 3%;
   border: 1px solid black;

} 

.member_wrap{
   background-color: pink;
   width: 100%;
   height: 40%;
}

.member_pci{
   background-color: red;
   height: 100%;
   width: 35%;
   display: inline-block;
   float: left;
}

.member_info{
   background-color: orange;
   height: 100%;
   width: 58%;
   display: inline-block;
   margin-left: 5%;
}

.welcome{
   background-color: green;
   height: 55%;
   width: 100%;
   margin-top: 5%;
}

.info{
   margin-left: 7%;
   margin-top: 5%;
}
 
