@CHARSET "UTF-8";

*{
	margin: auto 0;
	padding: auto 0;
}

#login_after_wrap{
	width: 100%;
	height: 100%;
	background-color: pink;
}

#lofin_after_header{
	width: 100%;
	height: 5%;
	background-color: gray;
}

#lang_wrap{
	width: 15%;
	height: 100%;
	background-color: yellow;
	float: left;
}

#lang_icon{
	width: 20%;
	height: 100%;
	background-color: pink;
	float: left;
}

#lang_eng{
	width: 35%;
    height: 100%;
    background-color: green;
    float: left;
}

#lang_kor{
	width: 35%;
    height: 100%;
    background-color: green;
    float: left;
}

#lang_p{
	font-size: 20px;
}

#menu_wrap{
	width: 34%;
    height: 100%;
    float: left;
    background-color: orange;
    margin-left: 5%;
    font-size: 30px;
}

#search_wrap{
	width: 15%;
	height: 100%;
	background-color: blue;
	float: right;
}

#login_after_middle{
	width: 100%;
	height: 90%;
	background-color: beige;
}

#info_wrap{
	width: 20%;
	height: 100%;
	background-color: #e0e092;
	float: left;
}

#pro_info{
	width: 100%;
	height: 15%;
	background-color: #8000ff;
}

#pro_info_1{
	width: 50%;
	height: 100%;
	background-color: #ff80c0;
	float: left;
}

#pro_img{
	width: 60%;
	height: 70%;
	background-color: #c0c0c0;
	border-radius: 50%;
	float: left;
	margin-left: 20%;
	margin-top: 4%;
}

#name_p{
	font-size: 25px;
	    margin-left: 26%;
}

#pro_info_2{
	width: 50%;
	float: right;
	background-color: #ff80ff;
	height: 100%;
}

#alert_menu{
	width: 100%;
	height: 75%;
	background-color: #80ffff;
}

#sche_info{
	width: 100%;
	height: 25%;
	background-color: #800080;
}

#sche_add{
	width: 100%;
	height: 15%;
	background-color: #8080ff;
}

#quick_menu{
	width: 100%;
	height: 20%;
	background-color: #0080ff;
}

#often_call{
	width: 100%;
	height: 25%;
	background-color: #8080c0;
}

#contents_wrap{
	width: 80%;
    height: 100%;
    background-color: #c8c83e;
    float: right;
}

#notice_wrap{
	width: 100%;
	height: 10%;
	background-color: red;
}

#notice_title{
	width: 10%;
	height: 100%;
	background-color: #804040;
	float: left;
}

#notice_title_p{
	font-size: 40px;
}

#notice_icon{
	width: 5%;
	height: 100%;
	background-color: #e0c0c0;
	float: left;
}

#notice_text{
	width: 55%;
	height: 100%;
	background-color: #b9b9ff;
	float: left;
}

#weather_div{
	width: 20%;
	height: 100%;
	background-color: #408080;
	float: left;
}

#skin_icon{
	width: 5%;
	height: 100%;
	background-color: #ffdb97;
	float: left;
}

#edit_icon{
	width: 5%;
	height: 100%;
	background-color: #f29d00;
	float: left;
}

#submenu_wrap{
	width: 100%;
	height: 90%;
	background-color: orange;
}

#login_after_footer{
	width: 100%;
	height: 5%;
	background-color: gray;
}

.fa{
	margin-left: 3% !important;
    margin-top: 2% !important;
}

/*---------------------*/
.srm_jk_all {
   padding-top: 2%;
   padding-left: 3%;
}

.srm_jk_srm {
   width: 18%;
   height: 90%;
   background-color: green;
   float: left;
   margin-right: 2%;
}

.srm_jk_inerp {
   width: 100%;
   height: 38%;
   background-color: blue;
}

.srm_jk_bigdiv {
   font-size: 50px;
   text-align: center;
   padding-top: 40%;
}

.srm_jk_store {
   padding-top: 30%;
}

.srm_jk_smalldiv {
   width: 42%;
   height: 15%;
   background-color: red;
   float: left;
   margin-left: 5%;
   margin-top: 10%;
}

.srm_jk_writing {
   text-align: center;
   padding-top: 30%;
}

#srm_jk_mr {
   padding-top: 20%;
}

#srm_jk_we {
   font-size: 48px;
}

.srm_jk_srm span {
   display: block;
}