@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

#fw_container{
	width: 99%;
	height: 100%;
	background-color: lightblue;
	transition: width 0.3s;	
	margin-left: 1%;
}

#com_header{
	width: 100%;
    background-color: #ffdfe4;
    height: 13%;
}

#com_icon{
	height: 100%;
	width: 5%;
	background-color: #ff8080;
	float: left;
}

#com_title{
	height: 100%;
	width: 15%;
	background-color: #ffc8b0;
	float: left;
}

#com_middle{
	width: 100%;
    background-color: #ffffcc;
    height: 75%;
}

#com_sub_title{
	width: 50%;
	height: 10%;
	margin-left: 25%;
	background-color: #f8edd3;
}

#com_contents{
	width: 80%;
    height: 90%;
    background-color: #c8ffe3;
    margin-left: 10%;
}

.com_temp_select{
	width: 40% !important;
}

.com_write_input{
	width: 80% !important;
}

.com_textarea{
	width: 92.5% !important;
	height: 450px !important;
}

#com_file_add{
	float: left;
	margin-left: 5%;
}

#com_file_div {
    width: 50%;
    background-color: #bbffff;
    height: 79%;
    margin-left: 2%;
    float: left;
}

#com_footer{
	width: 100%;
    background-color: #cdcde7;
    height: 12%;
}

.com_write_btn{
	margin-left: 10%;
}

.com_file_sdiv{
	float: left;
	width: 55%;
}
