@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#fw_container {
	width: 99%;
	height: 100%;
	transition: width 0.3s;
	margin-left: 1%;
}

#com_header {
	width: 100%;
	background-color: #ffdfe4;
	height: 13%;
}

#com_icon {
	height: 100%;
	width: 15%;
	float: left;
}

#logoImg {
	margin-top: 9%;
	margin-left: 11%;
}

#com_title {
	height: 100%;
	width: 15%;
	float: left;
	font-size: 30px;
	font-weight: bold;
	margin-top: 1.4%;
}

#com_middle {
	width: 100%;
	height: 75%;
}

#com_sub_title {
	width: 50%;
	height: 10%;
	margin-left: 25%;
}

#com_contents {
	width: 80%;
	height: 90%;
	background-color: #F6F6F6;
	margin-left: 10%;
	margin-top: 1%;
}

.com_temp_select {
	width: 40% !important;
}

.com_update_input {
	width: 80% !important;
}

.com_textarea {
	width: 92.5% !important;
	height: 450px !important;
}

#com_file_add {
	float: left;
	margin-left: 11%;
}

#com_file_div {
	width: 50%;
	height: 79%;
	margin-left: 2%;
	float: left;
}

#com_footer {
	width: 100%;
	background-color: #cdcde7;
	height: 12%;
	margin-top: 1%;
}

.com_update_btn {
	margin-left: 15%;
}

.com_file_sdiv {
	float: left;
	width: 55%;
}