@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#fw_container {
	width: 99%;
	height: 100%;
	transition: width 0.3s;
	margin-left: 1%;
}

#com_header {
	width: 100%;
    height: 13%;
    border-bottom: 2px solid;
}

#com_icon {
	height: 100%;
	width: 15%;
	float: left;
}

#logoImg {
	margin-top: 9%;
	margin-left: 11%;
}

#com_title {
	height: 100%;
	width: 15%;
	float: left;
	font-size: 30px;
	font-weight: bold;
	margin-top: 1.4%;
}

#com_middle {
	width: 100%;
	height: 75%;
}

#com_sub_title {
	width: 8%;
	height: 10%;
	margin-left: 83%;
	padding: 2%;
}

#com_contents {
	width: 80%;
	height: 90%;
	background-color: #F6F6F6;
	margin-left: 10%;
	padding: 20px;
}

#com_contents thead{
	color: white;
	background-color: #824100;
}

.com_temp_select {
	width: 40% !important;
}

.com_write_input {
	width: 80% !important;
}

.com_textarea {
	width: 92.5% !important;
	height: 450px !important;
}

#com_file_add {
	float: left;
	margin-left: 5%;
}

#com_file_div {
	width: 50%;
	height: 79%;
	margin-left: 2%;
	float: left;
}

#com_footer {
	width: 100%;
	height: 12%;
}

.com_write_btn {
	margin-left: 10%;
}

.com_file_sdiv {
	float: left;
	width: 55%;
}

.comViewBtns {
	float: right;
	margin-top: 1%;
}

#comviewBtn1 {
	margin-right: 10%;
	margin-left: 1%;
}

#comviewBtn2 {
	margin-left: 1%;
}

.comViewImgs {
	margin-left: 10%;
}