<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="fileMapper">
  
  	<select id="getFnum" resultType="int">
  		select file_seq.nextval from dual
  	</select>
  
  	<delete id="fileDeleteOne" parameterType="int">
  		delete from fivefile where fnum=#{fnum}
  	</delete>
  
  	<select id="fileList" parameterType="java.lang.String" resultType="FileDTO">
  		select * from fivefile where code=#{code}
  	</select>
  
  	<delete id="fileDelete" parameterType="java.lang.String">
		delete from fivefile where code=#{code}  		
  	</delete>
  
  	<insert id="fileInsert_eung" parameterType="FileDTO">
  		insert into fivefile values(#{fnum}, #{code}, #{filename}, #{oriname})
  	</insert>
  	
  
   <insert id="fileInsert" parameterType="FileDTO">
  	insert into fivefile values(file_seq.nextval, #{code}, #{oriname}, #{filename})
  </insert>
  
  <select id="fileOne" parameterType="String" resultType="FileDTO">
  	select * from fivefile where code=#{code}
  </select>
  
  </mapper>