<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="epaymentLeaveMapper">
  
  <insert id="approvalInsert" parameterType="EpaymentLeaveDTO">
  	insert into epaymentleave values(epaymentleave_seq.nextval, #{docunum}, #{approvalcode}, #{approvalname}, #{approvaltemp}, #{approvalrank},'미결', #{ranking}, '0')
  </insert>
  
  </mapper>