<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="epaymentLeaveMapper">
  
  <insert id="approvalInsert" parameterType="EpaymentLeaveDTO">
  	insert into epaymentleave values(epaymentleave_seq.nextval, #{docunum}, #{approvalcode}, #{approvalname}, #{approvaltemp}, #{approvalrank},'미결', #{ranking}, '0')
  </insert>
  
  <select id="myepaymentList" parameterType="String" resultType="EpaymentLeaveDTO">
  	select * from epaymentleave where approvalcode=#{code} and statenum='0'
  </select>
  
  <select id="myepaymentList2" parameterType="EpaymentLeaveDTO" resultType="EpaymentLeaveDTO">
  	select * from epaymentleave where docunum=#{docunum} 
  	<choose>
  		<when test="ranking==0">
  			and ranking = #{ranking}  and statenum='0'
  		</when>
  		
  		<otherwise>
  			and ranking = #{ranking}-1  and statenum='1'
  		</otherwise>
  	</choose>
  
  </select>
 
  <select id="myepaymentListContents" parameterType="String" resultType="EpaymentDTO">
  	select * from epayment where docunum=#{docunum}
  </select>
  
 <select id="myepaymentMember" parameterType="EpaymentDTO" resultType="EpaymentLeaveDTO">
 	select * from epaymentleave where docunum=#{docunum} order by ranking asc
 </select> 
 
 <update id="stampok" parameterType="EpaymentLeaveDTO">
 	update epaymentleave set 
 	<if test="approvalname=='기결'">
	 	statenum='1', state='기결'
 	</if>
 	
 	<if test="approvalname=='반려'">
	 	statenum='-1', state='반려'
 	</if>
 	
 	 where docunum=#{docunum} and approvalcode=#{approvalcode}
 </update>
 

 
 <!-- 초ㅣ종일 때만 if문 써서 .. -->
 <update id="stampok2" parameterType="EpaymentLeaveDTO">
 	update epayment set state='반려' where docunum=#{docunum} and approvalcode=#{approvalcode}
 </update>
  </mapper>