<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="epaymentMapper">
  
  <insert id="epaymentInsert" parameterType="EpaymentDTO">
  	insert into epayment values(epayment_seq.nextval, #{draftdate}, #{draftname}, #{drafttemp}, #{kind}, #{title},#{contents}, '결재요청중', #{approval}, #{approvaltemp})
  </insert>
  </mapper>