<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="formListMapper">
  
  <select id="formList" parameterType="java.util.Map" resultType="FormListDTO">
  	select * from
  	(select rownum R, N.* from  	
  	(select * from formlist 
  	<if test="search != null">
  		where formname like '%'||#{search}||'%'
  	</if>
  	order by num ) N)
  	where R between #{rowNum.startRow} and #{rowNum.lastRow}
  </select>
  
  <select id="formListCount" parameterType="java.util.Map" resultType="int">
  	select count(nvl(num, 0)) from formlist 
  	<if test="search != null">
  		where formname like '%'||#{search}||'%'
  	</if>
  
  </select>
  
  </mapper>