<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="materMapper">
  
  <!-- insert -->
  <insert id="insert" parameterType="com.five.ware.mater.MaterDTO">
  	insert into mater values(#{materCode}, #{materDate},#{account}, #{temp}, #{name}, #{storageName}, #{materMemo}, #{materKind})
  </insert>
 
  <select id="selectList" parameterType="String" resultType="com.five.ware.mater.MaterDTO">
  	select * from mater where materkind=#{materKind}
  </select>
  
  <select id="selectOne">
  	select * from mater where matercode=#{materCode}
  </select>
  
  <update id="update" parameterType="com.five.ware.mater.MaterDTO">
  	update mater set
  	materdate=#{materDate},
  	account=#{account},
  	storagename=#{storageName},
  	matermemo=#{materMemo}
  	where matercode={materMemo}
  </update>
  
  <delete id="delete" parameterType="String">
  	delete mater where matercode=#{materCode}
  </delete>
  
  </mapper>