<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="materMapper">
  
  <!-- insert -->
  <insert id="insert" parameterType="com.five.ware.mater.MaterDTO">
  	insert into mater values(#{materCode}, #{materDate}, #{temp}, #{name}, #{materMemo}, #{materKind})
  </insert>
  
  <insert id="materOrderInsert" parameterType="com.five.ware.mater.MaterOrderReigstDTO">
  	insert into materorderregist values(#{materCode}, #{orderCode}, #{code})
  </insert> 
  
  <select id="selectList" parameterType="String" resultType="com.five.ware.mater.MaterDTO">
  	select * from mater where materkind=#{materKind} order by materCode desc
  </select>
  
  
  <select id="materDateList" parameterType="java.util.Map" resultType="com.five.ware.mater.MaterDTO">
  	<![CDATA[select * from mater where materkind=#{materKind} and materdate>=#{smaterDate} and materdate<=#{ematerDate} ]]>
  </select>
  
  <select id="materStorageList" resultType="String">
  	select storagename from storage
  </select>
  
  <select id="materSupList" resultType="String">
  	select name from supplier where use='true'
  </select>
  
  <select id="selectOne" parameterType="String" resultType="com.five.ware.mater.MaterDTO">
  	select * from mater where matercode=#{materCode}
  </select>
  
  <select id="orderView" parameterType="String" resultType="com.five.ware.mater.MaterOrderReigstDTO">
  	select * from materorderregist where matercode=#{materCode}
  </select>
  
  <update id="update" parameterType="com.five.ware.mater.MaterDTO">
  	update mater set
  	materdate=#{materDate},
  	matermemo=#{materMemo}
  	where matercode={materMemo}
  </update>
  
  <delete id="delete" parameterType="String">
  	delete mater where matercode=#{materCode}
  </delete>
  
  <delete id="orderProductDelete" parameterType="String">
  	delete materorderregist where matercode=#{materCode}
  </delete>  
  
  <resultMap type="com.five.ware.mater.MaterOrderDTO" id="materOrderResult">
  	<result property="orderCode" column="orderCode"/>
  	<result property="contractDate" column="contractDate"/>
  	<result property="temp" column="temp"/>
  	<result property="name" column="name"/>
  	<result property="account" column="account"/>
  	<result property="division" column="division"/>
  	<result property="delivery" column="delivery"/>
  	<result property="condition" column="condition"/>
  	<result property="deadline" column="deadline"/>
  	<result property="storageName" column="storageName"/>
  	<result property="orderMemo" column="orderMemo"/>
  	
  	<collection property="orderProductDTO" javaType="com.five.ware.order.OrderProductDTO">
  		<result property="orderCode" column="orderCode_1"/>
  		<result property="code" column="code"/>
  		<result property="amount" column="amount"/>
  		<result property="price" column="price"/>
  	</collection>
  	
  </resultMap>
  
  <select id="materOrder" resultType="com.five.ware.mater.MaterOrderDTO">
  	select P.ordercode, P.code, P.amount, P.price, R.CONTRACTDATE, R.account, R.storagename
	from orderproduct P, orderregist R
	where P.ordercode = R.ordercode
  </select>
  
  </mapper>