<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="humanPositionMapper">
  
  <insert id="positionInsert" parameterType="PositionDTO" >
  		insert into rankregist values(rank_seq.nextval, #{code}, #{rank}, #{ranking}, '사용', '')
  </insert>
  
  <select id="positionList"  resultType="PositionDTO">
  		select * from rankregist order by num desc
  </select>
  
  <select id="positionOne" parameterType="String" resultType="PositionDTO">
  	select * from rankregist where code=#{code}
  </select>
  
  <update id="positionUpdate" parameterType="PositionDTO" >
  		update rankregist set ranking=#{ranking}, use=#{use}  where code=#{code, jdbcType=VARCHAR}
  </update>
  
  <delete id="positionDelete" parameterType="String">
  		delete rankregist where code=#{code}
  </delete>
  </mapper>