<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="eventMapper">

	<select id="getNum" resultType="int">
		select event_seq.nextval from dual
	</select>

	<select id="selectList" parameterType="com.five.ware.util.RowNum" resultType="com.five.ware.event.EventDTO">
		select * from
		(select rownum R, N.* from
		(select * from event
		order by eventnum) N)
		where R between #{startRow} and #{lastRow}
	</select>
	
	<select id="totalCount" resultType="int">
		select nvl(count(eventnum), 0) from event
	</select>
  	
  	<select id="selectOne" parameterType="int" resultType="com.five.ware.event.EventDTO">
  		select * from event where eventnum=#{eventNum}
  	</select>
  	
  	<select id="fileOne" parameterType="int" resultType="com.five.ware.community.NumFileDTO">
  		select * from upload where num=#{eventNum}
  	</select>	
	
	<insert id="insert" parameterType="com.five.ware.event.EventDTO">
		insert into event values (event_seq.nextval, #{temp}, #{eventName}, #{eventOption}, #{eventSdate}, #{eventEdate})
	</insert>
	
	<update id="update" parameterType="com.five.ware.event.EventDTO">
		update event set eventname=#{eventName}, eventoption=#{eventOption}, eventsdate=#{eventSdate}, eventedate=#{eventEdate} where eventnum=#{eventNum}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from event where eventnum=#{eventNum}
	</delete>

</mapper>