@charset "UTF-8";

#fw_main_contents{
	width: 100%;
	height: 91%;
	background-color: white;
}

#logoImg{
	    margin-top: 9%;
}


#erp_jh_contents_title{
	width: 100%;
	height: 10%;
}

#sr_title{
	font-size: 30px;
	font-weight: bold;
	margin-top: 1.5%;
}

#erp_jh_contents_bottom{
	width: 100%;
	height: 10.5%;
	margin-top: 1%;
}

.sr_btn{
	float: right !important;
	margin-right: 3%;
}

#mr_icon{
	width: 15%;
	height: 100%;
	float: left;
}

#mr_title{
	font-size: 30px;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 1.5%;
}

/* #erp_jh_contents_search{
	width: 100%;
    height: 14.5%;
    padding-top: 0.5%;
} */

/* #erp_jh_contents_table{
	width: 99%;
	height: 65%;
} */

#mr_pager{
	width: 20%;
	height: 10%;
	/* background-color: #ffff5b; */
	margin-left: 40%;
}

.pager_a{
	margin-right: 7%;
	margin-left: 
}

.erp_ej_search {
	max-width: 600px;
	height: 30px;
	margin: 25px auto;
}

.erp_ej_search .erp_ej_inputBox {
	float: left;
	margin-left: 10px;
	display: inline-block;
}

.erp_ej_inputBox input[type="text"] {
	width: 170px;
	height: 30.24px;
}

.erp_ej_inputBox select {
	width: 100px;
	height: 30.24px;
}

* {
    box-sizing: border-box;
}

.erp_ej_inputText{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.erp_ej_label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.erp_ej_btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.erp_ej_btn:hover {
    background-color: #45a049;
}

.erp_ej_container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.erp_ej_col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.erp_ej_col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.erp_ej_row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .erp_ej_col-25, .erp_ej_col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.ej_list {
	cursor: pointer;
	border: 1px solid #333;
	padding: 3px 5px;
}

.ej_list:hover {
	color: #fff;
	background-color: #333;
}

.table {
	margin-top: 20px;
}

.table thead {
	background-color: #333;
	color: #fff;
}

.container {
	max-width: 1000px;	
}