@CHARSET "UTF-8";


#fw_main_contents{
	width: 100%;
	height: 91%;
	background-color: white;
}

#erp_jh_contents_title{
	width: 100%;
	height: 10%;
	background-color: #ffe1e7;
	overflow: hidden;
}

#event_icon{
	width: 6%;
	height: 100%;
	background-color: #ff84c1;
	float: left;
}

#event_title{
	font-size: 30px;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 1.5%;
}

#erp_jh_contents_search{
	width: 100%;
    height: 14.5%;
    background-color: #e7ceff;
    padding-top: 0.5%;
}

#event_search{
	width: 70%;
    height: 70%;
    margin-left: 34%;
    ackground-color: #ce9dff;
    margin-top: 3.5%;
}

.form-control {
    position: relative !important;
    z-index: 2 !important;
    float: left !important;
    width: 93% !important;
    margin-bottom: 0 !important;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2  !important;
    margin-left: -30px  !important;
}

.input-group {
    width: 40% !important;
    float: left;
}

#sel1{
    width: 30% !important;
    float: left !important;
    margin-right: 2% !important;
    margin-left: -30% !important;
}

#sub_search{
	width: 50%;
    height: 45%;
    background-color: #e188b7;
    float: right;
    margin-top: 2%;
}

#erp_jh_contents_table{
	width: 99%;
	height: 65%;
	background-color: #ffffce;
}

#test{
	z-index: 999;
}



.table {
    width: 85% !important;
    margin-left: 7% !important;
}

#event_pager{
	width: 20%;
	height: 10%;
	/* background-color: #ffff5b; */
	margin-left: 40%;
}

.pager_a{
	margin-right: 7%;
	margin-left: 
}

#erp_jh_contents_bottom{
	width: 100%;
	height: 10.5%;
	background-color: #cee7ff;
}

#jh_bold_text{
	font-weight: bold;
}

/*------------- modal -----------------*/

.modal-body {
    height: 600px !important;
}

.input-group_modal{
   	width: 80% !important;
   	margin-bottom: 2%;
}

.input-group_area{
	height: 50px !important;
}

#mr_img_div{
	width: 100%;
    height: 104px;
    background-color: #cee7ff;
    border: 1px solid #dbdbdb;
}

#area_text{
	width: 100%;
    height: 5%;
}

.jh_label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-right: 50%;
}

.form-control_area{
	height: 100px !important;
    width: 80% !important;
}

#sel2{
    width: 100% !important;
    float: left !important;
    margin-right: 2% !important;
    margin-left: 0% !important;
}