@CHARSET "UTF-8";

#fw_main_contents {
	width: 100%;
	height: 91%;
	background-color: white;
}

#erp_jh_contents_title {
	width: 100%;
	height: 10%;
	overflow: hidden;
}


#event_icon {
	width: 15%;
	height: 100%;
	float: left;
}

#event_title {
	font-size: 30px;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 1.5%;
}

#erp_jh_contents_search {
	width: 70%;
	height: 14.5%;
	background-color: #EAEAEA;
	padding-top: 0.5%;
	margin-left: 15%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#event_search {
	width: 100%;
	height: 70%;
	margin-left: 14%;
	margin-top: 3.5%;
}

.form-control {
	position: relative !important;
	z-index: 2 !important;
	float: left !important;
	width: 93% !important;
	margin-bottom: 0 !important;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group
	{
	z-index: 2 !important;
	margin-left: -30px !important;
}

.input-group {
	width: 80% !important;
	float: left;
}

#sel1 {
	width: 30% !important;
	float: left !important;
	margin-right: 2% !important;
	margin-left: -30% !important;
}

#sub_search {
	width: 50%;
	height: 45%;
	float: right;
	margin-top: 2%;
}

#erp_jh_contents_table {
	width: 100%;
}

#erp_jh_contents_table thead{
	color: white;
	background-color: black;
}

#test {
	z-index: 999;
}

.table {
	width: 85% !important;
	margin-left: 7% !important;
}

#event_pager {
	width: 20%;
	height: 10%;
	margin-left: 40%;
}

.pager_a {
	margin-right: 7%;
	margin-left:
}

#erp_jh_contents_bottom {
	width: 100%;
	height: 10.5%;
	margin-top: 1%;
}

#jh_bold_text {
	font-weight: bold;
}

/*------------- modal -----------------*/
.eventInsertModalBody {
	height: 360px !important;
}

.eventUpdateModalBody {
	height: 680px !important;
}

.input-group_modal {
	width: 80% !important;
	margin-bottom: 2%;
}

.input-group_area {
	height: 50px !important;
}

#mr_img_div {
	width: 100%;
	height: 104px;
	background-color: #cee7ff;
	border: 1px solid #dbdbdb;
}

#area_text {
	width: 100%;
	height: 5%;
}

.jh_label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
	margin-right: 50%;
}

.form-control_area {
	height: 100px !important;
	width: 80% !important;
}

#sel2 {
	width: 100% !important;
	float: left !important;
	margin-right: 2% !important;
	margin-left: 0% !important;
}

#eventModalFooter {
	margin-top: 20% !important;
}

#event_pager {
	text-align: center;
}

#event_checkDelete {
	margin-left: 7%;
}

.modal_btn {
	margin-left: 71%;
}

#eventsdate {
	width: 45% !important;
}

.eventSdate{
	width: 45% !important;
}

#eventedate {
	width: 48% !important;
	float: right !important;
}

.eventEdate{
	width: 48% !important;
	float: right !important;
}

#img_update_div{
	margin-top: 2%;
}

.eventView{
	font-weight: bold;
}