@CHARSET "UTF-8";




#fw_main_contents{
	width: 100%;
	height: 91%;
	background-color: white;
}

#erp_jh_contents_title{
	width: 100%;
	height: 10%;
	overflow: hidden;
}

#logoImg{
	    margin-top: 9%;
}

#into_icon{
	width: 15%;
	height: 100%;
	float: left;
}

#into_title{
	font-size: 30px;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 1.5%;
}

#erp_jh_contents_search{
	width: 92%;
    height: 7.5%;
    background-color: #F6F6F6;
    padding-top: 0.5%;
    margin-left: 7%;
    margin-top: 1%;
    margin-bottom: 4%;
}



#erp_jh_contents_table{
	width: 99%;
	height: 65%;
	overflow: scroll;
}

#erp_jh_contents_table thead{
	color: white;
	background-color: black;
}


.table {
    width: 85% !important;
    margin-left: 7% !important;
}


#erp_jh_contents_bottom{
	width: 100%;
	height: 10.5%;
	background-color: #cee7ff;
}

#ej_excel_path{
	float: right;
    margin-top: 1%;
    margin-right: 10%;
}
