@CHARSET "UTF-8";

.mrFilter {
	cursor: pointer;
}

.sales_title_menu {
	width: 10%;
	height: 30%;
	background-color: black;
	color: white;
	float: left;
	margin-right: 2%;
	text-align: center;
	margin-top: 2%;
	margin-left: 3%;
	overflow: hidden;
}

#fw_main_contents {
	width: 100%;
	height: 91%;
	background-color: white;
}

#erp_jh_contents_title {
	width: 100%;
	height: 10%;
	overflow: hidden;
}

#mr_icon {
	width: 15%;
	height: 100%;
	float: left;
}

#mr_title {
	font-size: 30px;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 1.5%;
}

#erp_jh_contents_search {
	width: 90%;
	height: 14.5%;
	background-color: #EAEAEA;
	padding-top: 0.5%;
	margin-left: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#mr_search {
	width: 70%;
	height: 70%;
	margin-left: 34%;
	ackground-color: #EAEAEA;
	margin-top: 3.5%;
}

.form-control {
	position: relative !important;
	z-index: 2 !important;
	float: left !important;
	width: 93% !important;
	margin-bottom: 0 !important;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group
	{
	z-index: 2 !important;
	margin-left: -30px !important;
}

.input-group {
	width: 40% !important;
	float: left;
}

#sel1 {
	width: 30% !important;
	float: left !important;
	margin-right: 2% !important;
	margin-left: -30% !important;
}

#sub_search {
	width: 50%;
	height: 45%;
	float: right;
	margin-top: 2%;
}

#erp_jh_contents_table {
	width: 100%;
}

#test {
	z-index: 999;
}

.dropdown-menu {
	position: absolute;
	top: 30px !important;
	left: 40% !important;
}

.table {
	width: 85% !important;
	margin-left: 7% !important;
}

#mr_pager {
	width: 20%;
	height: 10%;
	/* background-color: #ffff5b; */
	margin-left: 40%;
	text-align: center;
}

.pager_a {
	margin-right: 7%;
	margin-left:
}

#erp_jh_contents_bottom {
	width: 100%;
	height: 10.5%;
	margin-top: 1%;
}

#jh_bold_text {
	font-weight: bold;
}

/*------------- modal -----------------*/
.modal-body {
	height: 650px !important;
}

.input-group_modal {
	width: 80% !important;
	margin-bottom: 2%;
}

.input-group_area {
	height: 50px !important;
}

#mr_img_div {
	width: 100%;
	height: 104px;
	background-color: #cee7ff;
	border: 1px solid #dbdbdb;
}

#area_text {
	width: 100%;
	height: 5%;
}

.jh_label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
	margin-right: 50%;
}

.form-control_area {
	height: 150px !important;
	width: 95% !important;
}

#sel2 {
	width: 93% !important;
	float: left !important;
	margin-right: 2% !important;
	margin-left: 0% !important;
}

/*//////////////////////////*/
#mr_checkDelete {
	margin-left: 7%;
}

#mr_insert {
	float: right;
	margin-right: 8%;
}

.table thead {
	color: white;
	background-color: black;
}

.menuView{
	font-weight: bold;
}