@CHARSET "UTF-8";

.sales_title_menu{
	width: 10%;
	height: 30%;
	background-color: black;
	color: white;
	float: left;
	margin-right: 2%;
	text-align: center;
	margin-top: 2%;
	margin-left: 3%;
	overflow: hidden;
}

#fw_main_contents{
	width: 100%;
	height: 91%;
	background-color: white;
	overflow: hidden;
}

#erp_jh_contents_title{
	width: 100%;
	height: 10%;
	background-color: #ffe1e7;
	overflow: hidden;
}

#or_icon{
	width: 6%;
	height: 100%;
	background-color: #ff84c1;
	float: left;
}

#or_title{
	font-size: 30px;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 1.5%;
}

#erp_jh_contents_search{
	width: 100%;
    height: 14.5%;
    background-color: #e7ceff;
    padding-top: 0.5%;
}

#or_search{
	width: 70%;
    height: 70%;
    margin-left: 20%;
    ackground-color: #ce9dff;
    margin-top: 3.5%;
}

.input-group {
    width: 40% !important;
    float: left;
}

#sel1{
    width: 30% !important;
    float: left !important;
    margin-right: 2% !important;
    margin-left: 8% !important;
}

#sub_search{
	width: 50%;
    height: 45%;
    background-color: #e188b7;
    float: right;
    margin-top: 2%;
}

#erp_jh_contents_table{
	width: 100%;
	height: 65%;
	background-color: #ffffce;
	overflow: scroll;
}

#test{
	z-index: 999;
}

.dropdown-menu {
    position: absolute;
    top: 30px !important;
    left: 63% !important;
}

.table {
    width: 85% !important;
    margin-left: 7% !important;
}

#erp_jh_contents_bottom{
	width: 100%;
	height: 10.5%;
	background-color: #cee7ff;
}

.btn{
	float: right !important;
	margin-right: 25%;
}

#jh_bold_text{
	font-weight: bold;
}

.search_group{
	width: 80% !important;
    float: left;
}

/*------------- modal -----------------*/

.modal-body {
    height: 700px !important;
}

.or_input-group_modal {
    width: 45% !important;
    margin-right: 5% !important;
    margin-bottom: 2% !important;
}

.memo_modal {
    width: 117% !important;
}

.input-group_area{
	height: 50px !important;
}

#area_text{
	width: 100%;
    height: 5%;
    margin-top: 60%;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-right: 50%;
}

.form-control_area{
	height: 100px !important;
    width: 80% !important;
}

#sel2{
    width: 100% !important;
    float: left !important;
    margin-right: 2% !important;
    margin-left: 0% !important;
}