@CHARSET "UTF-8";

#fw_main_contents {
	width: 100%;
	height: 91%;
	background-color: white;
	overflow: hidden;
}

#logoImg{
	    margin-top: 1.2%;
}

#erp_graph_title {
	width: 100%;
	height: 10%;
	background-color: #ffe1e7;
	overflow: hidden;
}

#graph_icon {
	width: 6%;
	height: 100%;
	background-color: #ff84c1;
	float: left;
}

#graph_title {
	font-size: 30px;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 1.5%;
}

#erp_graph_sub {
	width: 100%;
	height: 8%;
	padding-top: 0.5%;
}

#sum_title {
	width: 49%;
	height: 80%;
	margin-top: 1%;
	float: left;
	margin-right: 2%;
	background-color: #f6f6f6;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	    padding-top: 0.7%;
}

#avg_title {
	width: 49%;
	height: 80%;
	margin-top: 1%;
	background-color: #f6f6f6;
	float: left;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 0.7%;
}

#erp_graph_mid {
	width: 100%;
	height: 75%;
}

.sum_graph {
	width: 45%;
	height: 100%;
	margin-right: 2%;
	float: left;
	margin-left: 4%;
}

.avg_graph {
	width: 49%;
	height: 100%;
	float: left;
	padding: 20px;
	overflow: scroll;
}

.avg_graph thead {
	color: white;
	background-color: black;
}

#erp_graph_bottom {
	width: 100%;
	height: 10.5%;
}

.graph_table {
	text-align: center;
	font-size: 15px;
}