@CHARSET "UTF-8";

#erp_jh_modal_table{
	overflow: scroll;
	width: 100%;
	height: 50%;
}


.sales_title_menu{
	width: 10%;
	height: 30%;
	background-color: black;
	color: white;
	float: left;
	margin-right: 2%;
	text-align: center;
	margin-top: 2%;
	margin-left: 3%;
	overflow: hidden;
}

#fw_main_contents{
	width: 100%;
	height: 91%;
	background-color: white;
}

#erp_jh_contents_title{
	width: 100%;
	height: 10%;
	overflow: hidden;
}

#rr_icon{
	width: 15%;
	height: 100%;
	float: left;
}

#rr_title{
	font-size: 30px;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 1.5%;
}

#erp_jh_contents_search{
	    width: 90%;
    height: 14.5%;
    background-color: #EAEAEA;
    padding-top: 0.5%;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
}

#rr_search{
	width: 70%;
    height: 70%;
    margin-left: 20%;
    margin-top: 3.5%;
}

.input-group {
    width: 40% !important;
    float: left;
}

#sel1{
    width: 30% !important;
    float: left !important;
    margin-right: 2% !important;
    margin-left: 8% !important;
}

#sub_search{
	width: 50%;
    height: 45%;
    float: right;
    margin-top: 2%;
}

#erp_jh_contents_table{
	width: 100%;
	height: 65%;
	overflow: scroll;
}

#erp_jh_contents_table thead{
	color: white;
	background-color: black;
}

#rr_insert{
	float: right;
    margin-top: 1%;
    margin-right: 9%;
}

#test{
	z-index: 999;
}

.dropdown-menu {
    position: absolute;
    top: 30px !important;
    left: 63% !important;
}

.table {
    width: 85% !important;
    margin-left: 7% !important;
}

#erp_jh_contents_bottom{
	width: 100%;
	height: 10.5%;
}



#jh_bold_text{
	font-weight: bold;
}

.search_group{
	width: 80% !important;
    float: left;
}

/*------------- modal -----------------*/

.modal-body {
    height: 700px !important;
}

.input-group_modal{
   	width: 80% !important;
   	margin-bottom: 2%;
}

.input-group_area{
	height: 50px !important;
}


#area_text{
	width: 100%;
    height: 5%;
    margin-top: 60%;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-right: 50%;
}

.form-control_area{
	height: 100px !important;
    width: 100% !important;
}

#sel2{
    width: 100% !important;
    float: left !important;
    margin-right: 2% !important;
    margin-left: 0% !important;
}

.materView{
	font-weight: bold;
}


.materOrderTable{
	margin-left: 0% !important;
	width: 100% !important;
}