@CHARSET "UTF-8";



#eb_contents_wrap{
	width:100%;
	height: 90%;
	margin : 0 auto;
	margin-top : 10px;
	background-color: white;  
}

.eb_contents_text{
	width: 70%;
	height:5%;
}

#eb_contents_text_p{
     font-size: 30px;
    font-weight: bold;
    /* margin-left: 5%; */
    margin-top: 1.5%;
}

#eb_contents_box{
	width: 70%;
	height:20%;
    background-color :#EAEAEA;
	margin-top: 3%;
	margin-left: 50px;
}

#eb_contents_box_div{
	
    width : 50%;
    height : 20%;
	margin: 0 auto;
	margin-top : 20px;
}
.eb_text{
	font-size: 20px;
	color:red;
}



#eb_contents_table{
	width:95%;
	height:60%;
	margin-top : 20px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.1;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
#eb_table_head{
	background-color: black;
	color:white;
}

#eb_page{
	width: 50%;
	height: 7%;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
}


.eb_blank{
	width :100%;
	height: 30px;
}
#sModel{
	width: 600px;
	height: 700px;
	
}


#sModel_1{
	width: 600px;
	height: 600px;
	
}

#tModal{
	width:600px;
	height:400px;
}

#eb_modal_table{
	width:100%;
	height:300px;
}
.eb_modal_table_tr{
	border-top: 1px solid gray;
	
}

.eb_modal_table_td{
	background-color: #EAEAEA;
	text-align: center;
}
#eb_modal_tableT{
	width: 100%;
	height: 200px;
	margin-left : 100px;
}

#eb_modal-content_chit{
	width: 600px;
	height:400px;
}
#eb_table_chit{
	width: 100%;
	height: 90%;
}

.form-control {

    width: 93% !important;
    margin-bottom: 0 !important;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom: 10px;
}

#sample6_postcode{
	width: 70% !important;
	
}