@CHARSET "UTF-8";
@CHARSET "UTF-8";

.sales_title_menu{
	width: 10%;
	height: 30%;
	background-color: black;
	color: white;
	float: left;
	margin-right: 2%;
	text-align: center;
	margin-top: 2%;
	margin-left: 3%;
	overflow: hidden;
}

#fw_main_contents{
	width: 100%;
	height: 91%;
	background-color: white;
}

#erp_jh_contents_title{
	width: 100%;
	height: 10%;
	overflow: hidden;
}

#sr_icon{
	width: 15%;
	height: 100%;
	float: left;
}


#sr_title{
	font-size: 30px;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 1.5%;
}

#erp_jh_contents_search{
	    width: 90%;
    height: 14.5%;
    background-color: #f6f6f6;
    padding-top: 0.5%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#sr_search{
	width: 70%;
    height: 70%;
    margin-left: 38%;
    ackground-color: #ce9dff;
    margin-top: 3.5%;
}

.input-group {
    width: 40% !important;
    float: left;
}

#sel1{
    width: 28% !important;
    float: left !important;
    margin-right: 2% !important;
    margin-left: -30% !important;
}

#sub_search{
	width: 50%;
    height: 45%;
    background-color: #e188b7;
    float: right;
    margin-top: 2%;
}

#erp_jh_contents_table{
	width: 100%;
}

#test{
	z-index: 999;
}

.dropdown-menu {
    position: absolute;
    top: 30px !important;
    left: 63% !important;
}

.table {
    width: 85% !important;
    margin-left: 7% !important;
}

#sr_pager{
	width: 20%;
	height: 10%;
	margin-left: 40%;
	text-align: center;
}

.pager_a{
	margin-right: 7%;
	margin-left: 
}

#erp_jh_contents_bottom{
	width: 100%;
	height: 10.5%;
	margin-top: 1%;
}

.sr_btn{
	float: right !important;
	margin-right: 3%;
}

.sr_file_cancel{
	float: right !important;
	margin-right: 3%;
}

#jh_bold_text{
	font-weight: bold;
}

.table thead{
	color: white;
	background-color: black;
}

.storageRegistInsertModal{
    height: 480px !important;
}

#comment{
	width: 100% !important;
}

/*------------- modal -----------------*/

.modal-body {
    height: 550px !important;
}

.input-group_modal{
   	width: 80% !important;
   	margin-bottom: 2%;
}

.input-group_area{
	height: 50px !important;
}

#sr_img_div{
	width: 100%;
    height: 104px;
    background-color: #cee7ff;
    border: 1px solid #dbdbdb;
}

#area_text{
	width: 100%;
    height: 5%;
    margin-top: 60%;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-right: 50%;
}

.form-control_area{
	height: 100px !important;
    width: 80% !important;
}

#sel2{
    width: 100% !important;
    float: left !important;
    margin-right: 2% !important;
    margin-left: 0% !important;
}

/**/
    
#storageSearchInput{
	float: left;
	width: 85% !important;
	
}


.modal-footer{
	margin-top: 15% !important;
}

#sr_insert{
	float: right !important;
	margin-right: 8% !important;
}