@charset "UTF-8";

.sales_title_menu{
	width: 10%;
	height: 30%;
	background-color: black;
	color: white;
	float: left;
	margin-right: 2%;
	text-align: center;
	margin-top: 2%;
	margin-left: 3%;
	overflow: hidden;
}

#fw_main_contents{
	width: 100%;
	height: 91%;
	background-color: white;
	overflow: hidden;
}

#erp_jh_contents_title{
	width: 100%;
	height: 10%;
	background-color: #ffe1e7;
	overflow: hidden;
}

#mr_icon{
	width: 6%;
	height: 100%;
	background-color: #ff84c1;
	float: left;
}

#mr_title{
	font-size: 30px;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 1.5%;
}

#erp_jh_contents_search{
	width: 100%;
    height: 14.5%;
    background-color: #e7ceff;
    padding-top: 0.5%;
}

#erp_jh_contents_table{
	width: 99%;
	height: 65%;
	background-color: #ffffce;
}

#mr_pager{
	width: 20%;
	height: 10%;
	/* background-color: #ffff5b; */
	margin-left: 40%;
}

.pager_a{
	margin-right: 7%;
	margin-left: 
}

#erp_jh_contents_bottom{
	width: 100%;
	height: 10.5%;
	background-color: #cee7ff;
}

.erp_ej_search {
	max-width: 600px;
	height: 30px;
	margin: 0 auto;
	margin-top: 25px;
}

.erp_ej_search .erp_ej_inputBox {
	float: left;
	margin-left: 10px;
}

.erp_ej_inputBox input[type="text"] {
	width: 170px;
	height: 30.24px;
}

.erp_ej_inputBox select {
	width: 100px;
	height: 30.24px;
}