<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.five.ware.srm.staff.StaffTimeDTO" alias="staffTimeDTO"/>
  		<typeAlias type="com.five.ware.srm.staff.StaffDTO" alias="staffDTO"/>
  		<typeAlias type="com.five.ware.time.TimeDTO" alias="timeDTO"/>
  		<typeAlias type="com.five.ware.erp.storeRegist.StoreRegistDTO" alias="storeRegistDTO"/>
  		<typeAlias type="com.five.ware.erp.chit.ChitDTO" alias="chitDTO"/>
  		<typeAlias type="com.five.ware.erp.accountRegist.AccountRegistDTO" alias="accountRegistDTO"/>
  		<typeAlias type="com.five.ware.erp.tempRegist.TempRegistDTO" alias="tempRegistDTO"/>
  		<typeAlias type="com.five.ware.erp.supplier.SupplierDTO" alias="SupplierDTO"/>
  		<typeAlias type="com.five.ware.erp.human.basis.PositionDTO" alias="PositionDTO"/>
  		<typeAlias type="com.five.ware.erp.human.basis.SalDTO" alias="SalDTO"/>
  		<typeAlias type="com.five.ware.erp.human.member.MemberDTO" alias="MemberDTO"/>
  		<typeAlias type="com.five.ware.file.FileDTO" alias="FileDTO"/>
  		<typeAlias type="com.five.ware.erp.human.dili.DiliDTO" alias="DiliDTO"/>
  		<typeAlias type="com.five.ware.erp.product.ProductDTO" alias="ProductDTO"/>
  		<typeAlias type="com.five.ware.erp.human.dili.MemberWorkDTO" alias="MemberWorkDTO"/>
  		<typeAlias type="com.five.ware.groupware.epayment.FormListDTO" alias="FormListDTO"/>
  		<typeAlias type="com.five.ware.groupware.epayment.EpaymentDTO" alias="EpaymentDTO"/>
  		<typeAlias type="com.five.ware.calendar.CalendarDTO" alias="CalendarDTO"/>
  		<typeAlias type="com.five.ware.calendar.CalendarEventDTO" alias="CalendarEventDTO"/>
  		<typeAlias type="com.five.ware.meeting.MeetingRoomDTO" alias="MeetingRoomDTO"/>
  		<typeAlias type="com.five.ware.groupware.epayment.EpaymentLeaveDTO" alias="EpaymentLeaveDTO"/>
  		<typeAlias type="com.five.ware.storeSales.StoreSalesDTO" alias="storeSalesDTO"/>


  	</typeAliases>
  </configuration>
