@CHARSET "UTF-8";


.ar_plusTitle{
	width: 100%;
	height: 5%;
	/* background-color: #ff6666; */
	margin-bottom: 1%;
	
}

#ar_plustext{
	 font-size: 30px;
    font-weight: bold;
    /* margin-left: 5%; */
    margin-top: 1.5%;
}

.ar_plusSearchWrap{
	width: 100%;
	height: 10%;
	background-color: #fbc87b;
	margin-bottom:2%;
	border-top: 1px solid black;
}

.ar_plusSearch{
	width: 100%;
	height: 50%;
	background-color: #c46200;
	margin-left: 2%;
}

#ar_psearch{
	 width: 20%;
    height: 77%;
    margin-left: 2%;
    margin-top: 1%;
}

#ar_psearchBtn{
	width: 12%;
    height: 75%;
	background-color: #ffff80;
	margin-left: 2%;
	border: 0px;
	font-size: 12px;
	margin-bottom: 0.5%;
}

.ar_plusDivWrap{
	width: 100%;
	height: 50%;
	background-color: #f0f779;
	margin-bottom: 2%;
	    overflow: scroll;
}


.ar_titleDiv{
	background-color: #b68db3;
	width: 100%;
	height: 7%;
	text-align: center;
	
}

#ar_mainDivWrap{
	width: 90%;
    height: 67%;
	/* background-color: pink; */
	margin: 0 auto;
}

#ar_inhabitDiv{
	width: 100%;
	height: 50%;
	/* background-color: #9dff9d; */
	/* border: 1px solid black; */
}

#ar_inhabitWrap{
	width: 33%;
	height: 100%;
	border: 1px solid black;
	display: inline-block;
	float: left;
}

#ar_inhabitTableWrap{
	width: 100%;
	height: 100%;
	display: inline-block;
	/* border: 1px solid black; */
	float: left;
}

#ar_tableTop{
	width: 100%;
	height: 8%;
	/* background-color: #ffff80; */
	margin-bottom: 2%;
}

#ar_latestInhabit{
	width: 100%;
	    margin-top: 14%;
    height: 42%;
	/* background-color: #bbdddd; */
}

#ar_tableWrap{
	width: 100%;
	height: 75%;
	/* background-color: #D5D5D5; */
}
#eb_page{
	margin: 0 auto;
	width: 50%;
	margin-top: 10px;
	text-align: center;
}

#eb_table{
	width: 100%;
}

.ar_titleDiv1{
	font-weight: bold;
	display: inline-block;
	border: 1px solid black;
	height: 100%;
	line-height: 220%;
	float:left;
}

.ar_tableNum{
	width: 10%;	
}

.ar_tableSystem{
	width: 17%;	
}

.ar_tableFormName{
	width: 10%;	
}

.ar_tableName{
	width: 40%;	
}

.ar_tableOther{
	width:50%;
}

#ar_tablenumber{
	float:left;
	margin-top: 2%;
}


#ar_searchTitle{
	float:right;
	margin-top: 2%;
	
}

#ar_tableTitle{
	background-color: black;
	color:white;
}

#ar_searchInput{
	float:right;
	margin-top: 2%;
}

#ar_searchBtn{
	float:right;
	margin-top: 2%;
}

#eb_modal_table{
    width: 100%;
    height: 58%;
    margin: 0 auto;
    border-bottom: 1px solid #D5D5D5;
    font-size: 14px;
        margin-top: 4%;
}
.eb_modal_table_td{
	width: 200px;
	
	
    padding-left: 1%;
}
.eb_modal_table_td_1{
	width:100px;
	text-align : center;
	background-color: black;
	color:white;
}
.eb_modal_tr{
	border-top: 1px solid #D5D5D5;
}
#eb_modal_tr_id{
	    height: 318px;
}

<!-- -->
.modal-dialog {
    width: 52%;
    margin: 0 auto;
    
}

.modal-content {
    height: 900px;
}

#eb_modal {
    height: 85%;
    width: 100%;
   /*  background-color: #a8a8ff; */
}

.modal-footer {
    padding-top: 28px;
    text-align: center;
    /* background-color: #4444ff; */
}

#ar_docuname{
	text-align: center;
	margin-bottom: 2%;
	margin-top: 1%;
}


#ar_signBoxWrap{
	width: 100%;
	    height: 14%;
	/* background-color: #c8ffc8; */
	    margin-top: 4%;
}

#ar_signBoxDiv{
	/* background-color: #c0e0e0; */
	height: 100%;
	float:right;
	
	/* width: 11%;  */
}

#ar_signText{
	/* background-color: blue; */
	width: 20px;
	height: 100%;
	display: inline-block;
	float:left;
	text-align: center;	
    line-height: 46px;
        border: 1px solid black;
}

#ar_signBoxBasis{
	width: 100px;
	height: 100%;
	/* background-color: #7bbdff; */
	display: inline-block;
	float:left;
	    border: 1px solid black;
}

#ar_signTemp{
	display: inline-block;
	width: 100%;
	height: 25%;
	 background-color: #c0c0c0; 
	text-align: center;
	    border-bottom: 1px solid black !important;
}

#ar_singMember> input{
	border: 0px;
	text-align: center;
	width: 100%;
	background-color: rgba(0,0,0,0);
}

#ar_singMember{
	margin-top: 13%;
}

#ar_signTemp> input{
	border: 0px;
	text-align: center;
	width: 100%;
	background-color: rgba(0,0,0,0);
}

#ar_dateWrap{
	width: 100%;
	height: 8%;
	/* background-color: #ff97cb; */
}

#ar_dateDiv{
	width: 30%;
	height: 100%;
	/* background-color: #ffffaa; */
	margin: 0 auto;
	text-align: center;
}

#ar_signBoxBasis100{
	width: 100px;
	height: 100%;
	/* background-color: #7bbdff; */
	display: inline-block;
	float:left;
	background-image: url("../../../images/stamp/ask.png");
	background-repeat: repeat-x;
	background-position: bottom;
	border: 1px solid black;
}

.ar_approvalimg{
	background-image: url("../../../images/stamp/approvalimg.png");
	background-repeat: repeat-x;
	background-position: bottom;
}

.ar_refuse{
	background-image: url("../../../images/stamp/refuse.png");
	background-repeat: repeat-x;
	background-position: bottom;
}

.ar_backstamp{
	width: 100px;
	height: 100%;
	/* background-color: #7bbdff; */
	display: inline-block;
	float:left;
	    border: 1px solid black;
}

#ar_afterBtn{
	display: none;
}

#ar_fileLineWrap{
	width: 100%;
	height: 50px;
	/* background-color: #ffff80; */
}

#ar_fileWrap{
	width: 93%;
	height: 50%;
	/* background-color: #ff80c0; */
	display: inline-block;
	margin-top: 1%;
}

.epaymentFile{
	display: inline-block;
	float: left;
}

#ar_message{
	width: 100%;
}

#erp_jh_event_sub {
   width: 90%;
    height: 16%;
    background-color: #f6f6f6;
    padding-top: 0.5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#event_contents {
   height: 90%;
   width: 60%;
   margin-left: 15%;
   text-align: center;
   border-bottom: 2px solid #929292;
   border-top: 2px solid #929292;
}

.ar_pageWrap{
	width: 90%;
	height: 10%;
	/* background-color: lightpink; */
	margin: 0 auto;
	text-align: center;
	padding-top: 3%;
	cursor: pointer;
}