@CHARSET "UTF-8";

#ar_explantBtnWrap{
	width: 100%;
	height: 4%;
	/* background-color: #ffd9d9; */
	margin-top: 2%;
}

#ar_explantBtn{
	width: 30%;
	height: 100%;
	/* background-color: #ffff80; */
	float:right;
}

.ar_btnStyle{
	width: 20%;
	height: 80%;
	background-color: #804000; 
	color: white;
	border: 0px;
	font-weight: bold;
}

.ar_btnStyle1{
	width: 22%;
	height: 80%;
	background-color: white;
	border: 1px solid black;
	font-weight: bold;
}

#ar_explanTitle{
	width: 100%;
	height:5%;
	text-align: center;
	font-size: 30px;
	/* background-color: #ff80c0; */
}

#ar_signBoxWrap{
	width: 100%;
	height: 12%;
	/* border: 1px solid black; */
	/* background-color: #c8ffc8; */
}

#ar_signBoxDiv{
	/* background-color: #c0e0e0; */
	height: 100%;
	float:right;
	border: 1px solid black;
	/* width: 11%;  */
}

#ar_signText{
	/* background-color: blue; */
    width: 24px;
    height: 106px;
	display: inline-block;
	float:left;
	text-align: center;	
    line-height: 46px;
    border-right: 1px solid black !important;
}

#ar_signBoxBasis{
	width: 100px;
	height: 100%;
/* 	background-color: #7bbdff; */
	display: inline-block;
	float:left;
	border-right: 1px solid black;
}

#ar_signTemp{
	display: inline-block;
	width: 100%;
	height: 25%;
	/* background-color: #ffff80; */
	text-align: center;
	border-bottom: 1px solid black;
}

#ar_signTableWrap{
	width: 100%;
	height: 60%;
	margin-top: 12%;
/* 	background-color: #b7b7ff; */
	border-top: 2px solid gray;
}

#ar_signTable{
	width: 100%;
}

.ar_tableTitle{
	text-align: right;
	font-weight: bold;
	background-color: lightgray;
    height: 37px;
    padding-right: 9px;
    font-size: 13px;
}

.ar_tableInput{
	 padding-left: 5px;
	 font-size: 14px;
	 /* color: red; */
}

#ar_docuTitle{
	width: 98%;
	height: 30px;
}

#ar_tableTextArea{
	width: 100%;
	height: 500px;
	background-color: white;
}

.ar_draftInput{
	border: 0px;
}

#ar_singMember> input{
	border: 0px;
	text-align: center;
	width: 100%;
	background-color: rgba(0,0,0,0);
}

#ar_singMember{
	margin-top: 13%;
	    height: 71px;
	
}

#ar_signTemp> input{
	border: 0px;
	text-align: center;
	width: 100%;
	background-color: rgba(0,0,0,0);
}

#ar_fileLineWrap{
	width: 100%;
	height: 50px;
	/* background-color: #ffff80; */
}

#ar_fileWrap{
	width: 93%;
	height: 50%;
	/* background-color: #ff80c0; */
	display: inline-block;
	margin-top: 1%;
}

.epaymentFile{
	display: inline-block;
	float: left;
	width: 210px;
}

.ar_filedelete{
	display: inline-block;
	float: left;
	margin-right: 10%;
	padding-top: 0.3%;
	width: 2%;
}

.ar_ffWrap{
	display: inline-block;
	float: left;
	margin-right: 10%;
}
