@CHARSET "UTF-8";


*{
	margin: 0px;
	padding: 0px;
}
.ar_plusTitle{
	width: 100%;
	height: 5%;
	background-color: #ff6666;
	margin-bottom: 1%;
	
}

#ar_plustext{
	font-size: 18px;
	font-weight: bold;
	padding-top: 1.5%;
	margin-left: 2%;
}

.ar_plusSearchWrap{
	width: 100%;
	height: 10%;
	background-color: #fbc87b;
	margin-bottom:2%;
	border-top: 1px solid black;
}

.ar_plusSearch{
	width: 100%;
	height: 50%;
	background-color: #c46200;
	margin-left: 2%;
}

#ar_psearch{
	 width: 20%;
    height: 77%;
    margin-left: 2%;
    margin-top: 1%;
}

#ar_psearchBtn{
	width: 12%;
    height: 75%;
	background-color: #ffff80;
	margin-left: 2%;
	border: 0px;
	font-size: 12px;
	margin-bottom: 0.5%;
}

.ar_plusDivWrap{
	width: 100%;
	height: 50%;
	background-color: #f0f779;
	margin-bottom: 2%;
	    overflow: scroll;
}


.ar_titleDiv{
	background-color: #b68db3;
	width: 100%;
	height: 7%;
	text-align: center;
	
}

#ar_mainDivWrap{
	width: 100%;
    height: 72%;
	background-color: pink;
}

#ar_inhabitDiv{
	width: 100%;
	height: 50%;
	background-color: #9dff9d;
	border: 1px solid black;
}

#ar_inhabitWrap{
	width: 33%;
	height: 100%;
	border: 1px solid black;
	display: inline-block;
	float: left;
}

#ar_inhabitTableWrap{
	width: 100%;
	height: 100%;
	display: inline-block;
	border: 1px solid black;
	float: left;
}

#ar_tableTop{
	width: 100%;
	height: 8%;
	background-color: #ffff80;
	margin-bottom: 2%;
}

#ar_latestInhabit{
	width: 100%;
	    margin-top: 14%;
    height: 42%;
	background-color: #bbdddd;
}

#ar_tableWrap{
	width: 100%;
	height: 80%;
	background-color: #b7b7db;
}

.ar_titleDiv1{
	font-weight: bold;
	display: inline-block;
	border: 1px solid black;
	height: 100%;
	line-height: 220%;
	float:left;
}

.ar_tableNum{
	width: 10%;	
}

.ar_tableSystem{
	width: 17%;	
}

.ar_tableFormName{
	width: 10%;	
}

.ar_tableName{
	width: 40%;	
}

.ar_tableOther{
	width:50%;
}

#ar_tablenumber{
	float:left;
	margin-top: 2%;
}

#ar_totalNum{
	float:left;
	margin-top: 2%;
}

#ar_searchTitle{
	float:right;
	margin-top: 2%;
}

#ar_searchInput{
	float:right;
	margin-top: 2%;
}

#ar_searchBtn{
	float:right;
	margin-top: 2%;
}