@CHARSET "UTF-8";

.ar_plusTitle{
	width: 100%;
	height: 5%;
	background-color: #ff6666;
	margin-bottom: 1%;
	
}

#ar_plustext{
	font-size: 30px;
	font-weight: bold;
	padding-top: 1%;
	margin-left: 2%;
}

.ar_plusSearchWrap{
	width: 100%;
	height: 7%;
	background-color: #fbc87b;
	margin-bottom:2%;
}

.ar_plusSearch{
	width: 50%;
	height: 50%;
	background-color: #c46200;
	margin-left: 2%;
}

#ar_psearch{
	 width: 20%;
    height: 77%;
    margin-left: 2%;
    margin-top: 1%;
}

#ar_psearchBtn{
	width: 12%;
    height: 75%;
	background-color: #ffff80;
	margin-left: 2%;
	border: 0px;
	font-size: 12px;
	margin-bottom: 0.5%;
}

.ar_plusDivWrap{
	width: 100%;
	height: 50%;
	background-color: #f0f779;
	margin-bottom: 2%;
	    overflow: scroll;
}

.ar_titleDiv{
	background-color: #b68db3;
	width: 100%;
	height: 10%;
	text-align: center;
	
}

.ar_titleDiv1 {
 	display: inline-block;	
 	
}

.ar_listDiv1 {
 	display: inline-block;	
 	
}

.ar_listDiv{
	background-color: #ffb3ff;
	width: 100%;
	height: 8%;
	text-align: center;
	border-bottom: 1px lightgray solid;
}

.ar_titleCheck{
	width: 5%;
	height: 50%;
	margin-top: 1%;
}

.ar_titleCode{
	width: 15%;
	height: 50%;
	font-weight: bold;
}

.ar_titleName{
	width: 20%;
	height: 50%;
}

.ar_titleRank{
	width: 15%;
	height: 50%;
}

.ar_titleUse{
	width: 15%;
	height: 50%;
}

.ar_titleOther{
	width: 25%;
	height: 50%;
}

.ar_plusButtonWrap{
	width: 100%;
	height: 8%;
	background-color: #c1ffc1;
}

#ar_deleteBtn{
	width: 10%;
	height: 40%;
	background-color: white;
	border: 1px lightgray solid;
}

#ar_insertBtn{
	width: 10%;
	height: 40%;
	background-color: gray;
	border: 1px black solid;
	float: right;
}

.ar_positiontext{
	font-weight: bold;
	margin-right: 1%;
	
}
.ar_positiontext1{
	margin-right: 3.5%;
	font-weight: bold;
}

.arin_pcodeInput1{
	width: 70%;
}

.arin_pcodeInput{
	width: 83%;
}
.ar_blank {
	width: 100%;
	height: 25%;
}

.ar_positionInsert{
	margin-top: 3%;
	margin-left: 3%;
}

.modal-footer{
	margin-top: 30%;
}

#pcode_btn{
	border-bottom-color: #c0bbc6;
	height: 5%;
	border: 1px solid #c0bbc6;
	
}

