@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

#fw_container{
	width: 99%;
	height: 100%;
/* 	background-color: lightblue; */
	transition: width 0.3s;	
	margin-left: 1%;
}

#all_store_header{
	width: 100%;
    background-color: #ffdfe4;
    height: 13%;
}

#all_store_icon{
	height: 100%;
	width: 5%;
	background-color: #ff8080;
	float: left;
}

#all_store_title{
	height: 100%;
	width: 15%;
	background-color: #ffc8b0;
	float: left;
}

#all_store_middle{
	width: 100%;
    /* background-color: #ffffcc; */
    height: 80%;
}

#all_store_contents{
	width: 95%;
    height: 95%;
    /* background-color: #c8ffe3; */
    margin-left: 2.5;
    margin-left: 2.5%;
}

#map{
	width: 49%;
	height: 90%;
	/* background-color: #ffdfd0; */
	margin-right: 2%;
	float: left;
	border: 2px solid #f6f6f6;
}

#map_title{
	width: 49%;
	height: 100%;
	/* background-color: #D5D5D5; */
	margin-right: 2%;
	float: left;
	font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#all_store_table{
	width: 49%;
	height: 90%;
	background-color: white;
	overflow: scroll;
}

#table_title{
	width: 49%;
	height: 100%;
	/* background-color: #D5D5D5; */
	float: right;
	font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#all_store_sub_title{
	width: 100%;
	height: 10%;
	/* background-color: #f8edd3; */
	float: left;
}

#all_store_footer{
	width: 100%;
    background-color: #cdcde7;
    height: 7%;
}

#all_store_blank{
	width: 100%;
	/* background-color: #cdcde7; */
	height: 2%;
}


/*////////////////////////////////////////////*/

.all_store_div{
	width: 90%;
    height: 35%;
    margin-left: 5%;
    background-color: #F6F6F6;
    margin-top: 5%;
}

.store_title_div{
	width: 100%;
    height: 18%;
    background-color: #CE3636;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2%;
}

.all_table{
	text-align: center;
}

.rb{
	border-right: 1px solid #e9e9e9;
}

.allStoreTestMargin{
	margin-top: 2%;
}