@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#login_after_wrap {
	width: 100%;
	height: 100%;
	background-color: pink;
}

#lofin_after_header {
	width: :100%;
	height: 8.5%;
	background-color: gray;
	border-bottom: 1px solid black;
}

#login_after_middle {
	width: 100%;
	height: 90%;
	background-color: beige;
}

#login_after_footer {
	width: 100%;
	height: 5%;	
}

#menu_wrap {
	width: 100%;
	height: 92%;
}

.notice_jk_title	{
	font-size: 25px;
	margin-left: 10%;
	line-height: 2.7;
}

.notice_jk_tableBox	{
	width: 80%;	
}

.notice_jk_matters	{
	font-size: 18px;
	margin-left: 28%;
	margin-top: 3.7%;
}

.table	{
	max-width: 100%;
}

#notice_jk_table	{
	width: 70%;
	margin-left: 27.5%;
	margin-top: 2.8%;
}

.notice_jk_textarea	{
	width: 100%;
	height: 300px;
}

#writeBtn	{
	float: right;
	margin-right: 1%;
}

#deleteBtn	{
	float: right;
	margin-right: 3%;
}