@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#login_after_wrap {
	width: 100%;
	height: 100%;
	background-color: pink;
}

#lofin_after_header {
	width: :100%;
	height: 8.5%;
	background-color: gray;
	border-bottom: 1px solid black;
}

#login_after_middle {
	width: 100%;
	height: 90%;
	background-color: beige;
}

#login_after_footer {
	width: 100%;
	height: 5%;
	
}

#menu_wrap {
	width: 100%;
	height: 92%;
	
}

.notice_jk_title	{
	font-size: 25px;
	margin-left: 10%;
	line-height: 2.7;
}

.notice_jk_listBox	{
	width: 100%;
	height: 835px;
	padding-top: 160px; 
}

#notice_jk_table	{
	width: 70%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.notice_jk_td	{
	text-align: center;
}

.notice_jk_textarea	{
	width: 100%;
	height: 300px;
}

div.button {
	margin-top: 5%;
	margin: auto;
	width: 6%;
}

div.button input {
	padding: 5px;
	width: 100%;
	font-size: 18px;
}