@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#login_after_wrap {
	width: 100%;
	height: 100%;
	background-color: pink;
}

#lofin_after_header {
	width: :100%;
	height: 8.5%;
	background-color: gray;
	border-bottom: 1px solid black;
}

#login_after_middle {
	width: 100%;
	height: 90%;
	background-color: beige;
}

#login_after_footer {
	width: 100%;
	height: 5%;	
}

#menu_wrap {
	width: 100%;
	height: 92%;
}

.notice_jk_title	{
	font-size: 25px;
	margin-left: 10%;
	line-height: 2.7;
}

.notice_jk_tableBox	{
	width: 100%;
    margin-top: 3%;
    background-color: wheat;
    /* margin-left: 5%; */
}


.table	{
	max-width: 100%;
}

#notice_jk_table	{
	width: 45%;
    margin-left: 16.5%;
    margin-top: 2.8%
}

#smart_editor2{
	width: 1100px;
}


.notice_jk_textarea	{
	width: 100%;
    height: 400px;
}

/* #smart_editor2{
    width: 1150px !important;
    height: 450px !important;
} */

#smart_editor2_content{
	width: 1150px !important;
}

/* element.style {
    width: 1200px !important;
    height: 400px !important;
} */

#writeBtn	{
	float: right;
	margin-right: 1%;
	margin-top: 2%
}

#deleteBtn	{
	float: right;
	margin-right: 3%;
	margin-top: 2%
}

#noticeWrite_text{
	width: 30%;
    height: 10%;
    margin-left: 40%;
    border-top: 3px solid;
    border-bottom: 3px solid;
	margin-top: 2%;
}

.file_div{
	float: left;
}

.file_input {
    float: left;
    width: 70% !important;
}

.del{
	color: red;
}