@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#login_after_wrap {
	width: 100%;
	height: 100%;
	background-color: pink;
}

#lofin_after_header {
	width: :100%;
	height: 8.5%;
	background-color: gray;
	border-bottom: 1px solid black;
}

#login_after_middle {
	width: 100%;
	height: 90%;
	background-color: beige;
}

#login_after_footer {
	width: 100%;
	height: 5%;
	
}

#menu_wrap {
	width: 100%;
	height: 92%;
	
}

.notice_jk_titleBox	{
	
	height: 8.5%;
}

.notice_jk_title	{
	font-size: 25px;
	margin-left: 10%;
	line-height: 2.7;
}

.notice_jk_partBox	{
	padding-top: 1%;
	margin-left: 23%;
	
}

.notice_jk_partBox a	{
	margin-right: 5%;
	text-decoration: none;
}

.notice_jk_searchBox	{
	margin-left: 23%;
	margin-top: 0.8%;
}

#kind	{
	width: 4%;
	height: 4%;
}

#search	{
	height: 4%;
}

.notice_jk_btn	{
	width: 4%;
	height: 4%;
}

.notice_jk_listBox	{
	margin-top: 0.8%;
	margin-left: 23%;
	width: 65%;
}

.notice_jk_listBox td	{
	text-align: center;
}

.notice_jk_listBox a	{
	text-decoration: none;
	
}

#enroBtn	{
	float: right;
}

.pagination	{
	margin: 0 auto;
	display: table;
}

#writeBtn	{
	float: right;
}