<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="humanMemberMapper">
  
  <!--pw 변경  -->
  <update id="pwUpdate" parameterType="java.util.Map">
  	update member set pw=#{pw} where code=#{code}
  </update>
  
  <!--pw확인  -->
  <select id="pwCheck" parameterType="String" resultType="String">
  	select pw from member where code=#{code}
  </select>
  
  <!-- login -->
  <select id="login" resultType="MemberDTO" parameterType="MemberDTO">
  	select * from member where code=#{code} and pw=#{pw}
  </select>

 <!--My Page  -->
 <update id="myPageUpdate" parameterType="MemberDTO">
 	update member set phone=#{phone}, email=#{email}, addr=#{addr},bank=#{bank}, banknum=#{banknum} where code=#{code}
 </update>
  
  
  
  
  <insert id="humanInsert"></insert>
  <insert id="memberInsert" parameterType="MemberDTO">
  	insert into member values(member_seq.nextval, '재직', #{code}, #{code}, #{name}, #{birth}, #{phone}, #{addr}, #{email}, #{hiredate}, #{temp}, #{rank}, #{sal}, #{bank}, #{banknum}, #{vacation}, #{month}, #{other}, '-', '0' )
  </insert>
  
  <select id="rankList" resultType="String">
  		select distinct rank from rankregist 
  </select>
  
  <select id="memberList"  parameterType="java.util.Map" resultType="MemberDTO">
  	select * from member 
  	<if test="search != null ">
  		where name like '%'||#{search}||'%'
  	</if>

  	order by num desc
  </select>
  
 <select id="memberOne" parameterType="String" resultType="MemberDTO">
 	select * from member where code=#{code}
 </select>
 
 <update id="memberUpdate" parameterType="MemberDTO">
 	update member set phone=#{phone}, name=#{name}, email=#{email}, addr=#{addr}, temp=#{temp}, rank=#{rank}, bank=#{bank}, banknum=#{banknum}, sal=#{sal}, vacation=#{vacation}, month=#{month}, other=#{other} where code=#{code}
 </update>
 
 
 
 
 <update id="memberDelete" parameterType="MemberDTO">
 	update member set kind='퇴직', retiredate=#{retiredate}, term=round(months_between(#{retiredate},
 		(select hiredate from member where code=#{code})
 	)/12 , 2) where code=#{code}
 	
 </update>
 
 <select id="retireeList" parameterType="java.util.Map" resultType="MemberDTO">
 	select * from member  where kind=#{kind} order by num desc
 </select>
 
 <update id="retireeDelete" parameterType="MemberDTO">
 	update member set kind='재직', retiredate='-' where code=#{code}
 </update>
  </mapper>