<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="menuRegistMapper">
  	<insert id="menuReigstInsert" parameterType="com.five.ware.erp.menuRegist.MenuRegistDTO">
  		insert into menuregist values(#{menuCode}, #{menuKind}, #{menuName}, #{imgNull}, #{recipe}, #{menuOption}, #{price})
  	</insert>
  	
  	<select id="selectList" parameterType="java.util.Map" resultType="com.five.ware.erp.menuRegist.MenuRegistDTO">
  		select * from 
  		(select rownum R, N.* from
  		(select * from menuregist 
  		<if test="kind == 'menuname'">
  			where menuname like '%'||#{search}||'%'
  		</if>
  		
  		<if test="kind  == 'recipe'">
  			where recipe like '%'||#{search}||'%'
  		</if>
  		
  		<if test="kind  == 'menuoption'">
  			where menuoption like '%'||#{search}||'%'
  		</if>
  		
  		<if test="kind  == 'menukind'">
			where menuname like '%'||#{search}||'%'
  			<if test="menukind=='coffee'">
				and menukind='coffee'
			</if>
			
			<if test="menukind=='juice'">
				and menukind='juice'
			</if>
			
			<if test="menukind=='desert'">
				and menukind='desert'
			</if>
  		</if>
  		
  		 	<if test="order=='no'">
			order by menucode desc) N)
			</if> 
	  		 <if test="order=='desc'">
				order by price desc) N)
			</if>
			<if test="order=='asc'">
				order by price asc) N)
			</if>
			
  		where R between #{startRow} and #{lastRow}
  	</select>
  	
<!-- ========================================totalCount======================================== -->
  	<select id="totalCount" resultType="int" parameterType="java.util.Map">
  		select nvl(count(menucode),0) from menuregist
  		
  		<if test="kind  == 'menuname'">
  			where menuname like '%'||#{search}||'%'
  		</if>
  		
  		<if test="kind  == 'recipe'">
  			where recipe like '%'||#{search}||'%'
  		</if>
  		
  		<if test="kind  == 'menuoption'">
  			where menuoption like '%'||#{search}||'%' 
  		</if>
  		
  		<if test="kind == 'menukind'">
  			where menuname like '%'||#{search}||'%'
  		</if>
  		
  		
  		<if test="kind  == 'menukind'">
  			<if test="menukind=='coffee'">
				and menukind='coffee'
			</if>
  			
  			<if test="menukind=='juice'">
				and menukind='juice'
			</if>
  			
  			<if test="menukind=='desert'">
				and menukind='desert'
			</if>
  		</if>
  		
  	</select>
  	
  	<select id="selectOne" resultType="com.five.ware.erp.menuRegist.MenuRegistDTO" parameterType="String">
  		select * from menuregist where menucode=#{menuCode}
  	</select>
  	
  	<update id="update" parameterType="com.five.ware.erp.menuRegist.MenuRegistDTO">
  		update menuregist set
  		menukind=#{menuKind},
  		menuname=#{menuName},
  		menuoption=#{menuOption},
  		price=#{price},
  		recipe=#{recipe}
  		where menucode=#{menuCode}
  	</update>
  	
  	<delete id="delete" parameterType="String">
  		delete menuregist where menucode=#{menuCode}
  	</delete>
  </mapper>