<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="storageRegistMapper">
  	<insert id="insert" parameterType="com.five.ware.erp.storageRegist.StorageRegistDTO">
		insert into storage values(#{storageCode}, #{storageName}, #{storageOp}, #{storageAddr}, #{imgNull})
  	</insert>
  	
  	<select id="selectList"  parameterType="com.five.ware.util.RowNum" resultType="com.five.ware.erp.storageRegist.StorageRegistDTO">
  		select * from 
  		(select rownum R, N.* from
  		(select * from storage 
  		<if test="kind == 'storagename'">
  			where storagename like '%'||#{search}||'%'
  		</if>
  		<if test="kind == 'storagecode'">
  			where storagecode like '%'||#{search}||'%'
  		</if>
  		<if test="kind == 'storageaddr'">
  			where storageaddr like '%'||#{search}||'%'
  		</if>
  		 order by storagecode desc) N) 
  		where R between #{startRow} and #{lastRow}
  	</select>
  	
  	<select id="totalCount" resultType="int">
  		select nvl(count(storagecode),0) from storage
  		<if test="kind == 'storagename'">
  			where storagename like '%'||#{search}||'%'
  		</if>
  		<if test="kind == 'storagecode'">
  			where storagecode like '%'||#{search}||'%'
  		</if>
  		<if test="kind == 'storageaddr'">
  			where storageaddr like '%'||#{search}||'%' 
  		</if>

  	</select>
  	
  	<select id="selectOne" resultType="com.five.ware.erp.storageRegist.StorageRegistDTO" parameterType="String">
  		select * from storage where storagecode=#{storageCode}
  	</select>
  	
  	<update id="update" parameterType="com.five.ware.erp.storageRegist.StorageRegistDTO">
  		update storage set
  		storagename=#{storageName},
  		storageop=#{storageOp},
  		storageaddr=#{storageAddr}
  		where storagecode=#{storageCode}
  	</update>
  	
  	<delete id="delete" parameterType="String">
  		delete storage where storagecode=#{storageCode}
  	</delete>
  	
  </mapper>