@CHARSET "UTF-8";

	
	    *{
	    	margin: 0px;
	    	padding: 0px;
	    }
		.wrap{
			width: 90%;
			height : 100%;
			margin: 0 auto;
		}
		.logo{
			width: 100%;
			height: 10%;
			margin: 0 auto;
			background-color: 337AB7;
		}
		
		#eb_home{
			text-decoration: none;
			color : white;
		}
		.menuWrap1{
		 	width: 45%;
		 	height: 90%;
		 	float: left;
		
		}
		 .menuWrap2{
			width: 55%;
			height: 90%;
			float: right;
		}
		.menu1{
			width: 99%;
			height: 37%;
			border: 1px solid black;
			margin-top: 5px;
		}
		
		.eb_menuTable_th{
			width: 20%;
			height: 10px;
			
		}
		.menu2{
			width: 99%;
			height: 8%;
			border: 1px solid black;
			margin-top: 5px;
		}
		
		.menu3{
			width: 99%;
			height: 10%;
			margin-top: 5px;
		}
		
		#eb_btn-group_1{
			width : 50%;
			float: left;
		}
		
		#eb_btn-group_2{
			width : 50%;
			float: right;
		}
		
		#eb_modal_table{
			width: 95%;
			height: 60%;
		}
		.menu4{
			width: 48%;
			height: 42%;
			border: 1px solid black;
			margin-top: 5px;
			float: left;
		}
		
		
		.menu4_1{
			width: 48%;
			height: 42%;
			border: 1px solid black;
			margin-top: 5px;
			margin-left : 10px;
			float: right;
			float: left;
		}
		
		.eb_table_td{
		width: 130px;

		}
		
		.menu5{
			width: 100%;
			height: 73%;
			border: 1px solid black;
			margin-top: 5px;
		}
		#eb_modal{
			width : 600px;
			height: 500px;
		}
		.eb_modal_thead{
			height: 50px;
			background-color: gray;
			color:white;
		}
		.menu6{
			width: 100%;
			height: 25%;
			margin-top: 5px;
		}
		
		#logo_Table td{
			width: 300px;
			height: 75px;
			text-align: center;
			color : white;
		}
		
		#menu1_table {
		 	width: 100%;
		 	border-collapse: collapse;
		 	height: 30px;
		 	text-align: center;
		}
	   
	    #menu1_table tr,td,th{
			height: 30px;
			text-align: center;
		} 
		
		
		
		#p1{
			float: left;
			height: 50%;
			width: 45%;
			margin-left: 10px;
			margin-top: 15px;
		}
		
		
		#p2{
			float: right;
			height: 50%;
			width: 45%;
			margin-right: 10px;
			text-align: right;
			margin-top: 15px;
		}
		
		.b1{
			height: 100%;
			width: 76px;
		}
		
		.b2{
			width : 100% !important;
			height: 25%;
		}
		
		.btn-group-vertical1>.btn:first-child:not(:last-child){
			width : 100% !important;
		}
		
		#p3{
			margin-top : 10px;
			text-align: center;
		}
		
		.blank{
			 width: 100%;
			 height: 20px;
		}
		
		#menu4_table {
			 width: 100%;
		 	height: 78%;
		}
	
	  	.price{
	  		width: 95%;
	  		height: 15%;
	  		border: 1px solid gray;
	  		margin: 0 auto;
	  		margin-top: 5px;
	  	}
	  	.price_p{
	  		font-size: 25px;
	  		text-align: right;
	  	}
	  	.price_1{
	  		width: 30%;
	  		height:60%;
	  		margin-left: 5px;
	  		margin-top: 5px;
	  		float: left;
	  	}
	  	
	  	.price_2{
	  		width: 30%;
	  		height:60%;
	  		margin-left: 5px;
	  		margin-top: 5px;
	  		float: right;
	  		float: left;
	  	}
	  	
	  	.price_3{
	  		width: 30%;
	  		height:60%;
	  		margin-right : 5px;
	  		margin-top: 5px;
	  		float: right;
	  	}
	  	
	  	.price_4{
	  		width: 30%;
	  		height: 18%;
	  		margin-top: 5px;
	  		margin-left : 5px;
	  		float: left;
	  	}
	  	
	  	.price_5{
	  		width: 63%;
	  		height:18%;
	  		margin-top: 5px;
	  		float: right;
	  	  	margin-right : 5px;
	  	}
	  
	   .b3{
	   		width: 100%;
	   		height: 25%;
	   }
	   .b4{
	   		width: 100%;
	   		height: 100%;
	   }
	   
	   .menu6_1{
	    	width: 31%;
	    	height: 100%;
	        float: left;
	   }
	   
	   .menu6_234{
		   float: left;
		   width:36%;
		   height: 100%;
		   margin-left: 5px;
	   }
	   
	   .menu6_2{
	   		width:99%;
	   		height: 48%; 		 
	   }
	   
	    .menu6_3{
	   		width:48%;
	   		height: 48%;
	   		float: left;
	   		margin-top : 5px;
	   }
	    .menu6_4{
	   		width:48%;
	   		height: 48%;
	   		float: left;
	   		margin-top : 5px;
	   		margin-left: 5px;
	   }
	    .menu6_5{
	   		width: 31%;
	   		height: 100%;
	   		float: left;
	   		margin-left: 5px;
	   } 
	   
	   .eb_menuBox{
	   		background-color : #EAEAEA;
	   		width: 15%;
	   		height: 15%;
	   		text-align: center;
	   		margin-top: 30px;
	   		margin-left: 30px;
	   		float: left;
	   }
		.eb_menu{
			margin-top: 10px;
		}
		.eb_input{
			width: 110px;
			height: 20px;
			text-align: center;
			border: 0;
		}
		#eb_modal_contents{
			width: 900px;
		}
		
		#eb_modal{
			height: 550px;
		}
		
		#eb_modal_contents1{
			width: 520px;
			height: 450px;
			border: 1px solid gray;
			margin-top: 10px;
			margin-left: 10px;
			float: left;
			overflow: scroll;
			
		}
		
		#eb_modal_contents2{
			width: 300px;
			height: 450px;
			border: 1px solid gray;
			margin-left: 300px;
			margin-top: 10px;
			margin-left: 550px;
			
		} 
		.eb_modal_th{
			width: 25%;
			
		}
		#eb_modalT1{
			margin-top :20px;
		 	margin-left : 10px;
			float: left;
		}
		#eb_modalT2{
			float: left;
			margin-top :20px;
		}
		#eb_modalT3{
			margin-top :20px;
		}
		.eb_madalTr{
			width: 100px;
			height: 30px;
		}
		#eb_modal_div{
			width: 100%;
			height: 15%;
			margin: 0 auto;
			margin-top: 30px;
			border-bottom: 1px dashed gray;
			text-align: center;
		}
		#eb_modal_div2{
			width: 100%;
			height: 15%;
			margin: 0 auto;
			margin-top: 30px;
			border-top: 1px dashed gray;
			text-align: right;
		}
		#eb_modal_p{
			margin-top: 20px;
			margin-right: 20px;
		}
		