@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

#fw_mainwrap{
    width: 96% !important;
	
}

.ar_plusTitle{
	width: 100%;
	height: 5%;
	/* background-color: #ff6666; */
	margin-bottom: 1%;
	
}

#ar_plustext{
	 font-size: 30px;
    font-weight: bold;
    /* margin-left: 5%; */
    margin-top: 1.5%;
}

.ar_plusSearchWrap{
	width: 100%;
	height: 7%;
	/* background-color: #fbc87b; */
	margin-bottom:2%;

}

#ar_moneyTotal{
	width: 28%;
	height: 8%;
	/* background-color: #c46200; */
	margin-left: 2%;
	display: inline-block;
	float: right;
	font-size: 25px;
	    margin-top: 1%;
}

.ar_plusSearch{
	width: 40%;
	height: 50%;
	/* background-color: #c46200; */
	margin-left: 2%;
	display: inline-block;
	float: left;
}

#ar_psearch{
	    /* width: 20%; */
    height: 29px !important;
    margin-left: 2%;
    margin-top: 3%;
}

#ar_psearchBtn{
	width: 12%;
    height: 75%;
	background-color: #000000;
	color: white;
	margin-left: 2%;
	border: 0px;
	font-size: 12px;
	margin-bottom: 0.5%;
}

.ar_plusDivWrap{
	width: 100%;
	height: 50%;
/* 	background-color: #f0f779; */
	margin-bottom: 2%;
	    overflow: scroll;
}

#eb_table_head{
	background-color: #000000;
	color: white;
}

.ar_titleDiv{
/* 	background-color: #b68db3; */
	width: 100%;
	height: 10%;
	text-align: center;
	
}

#ar_graphWrap{
	width:30%;
	height: 50%;
	/* background-color: #ff0000; */
	margin: 0 auto;
}


#erp_jh_event_sub {
   width: 90%;
    height: 16%;
    background-color: #f6f6f6;
    padding-top: 0.5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#event_contents {
   height: 90%;
   width: 60%;
   margin-left: 15%;
   text-align: center;
   border-bottom: 2px solid #929292;
   border-top: 2px solid #929292;
}

#eb_result{
	font-weight: normal;
}

#ar_graphdate{
	color:red;
}

.nav {
    width: 13%;
    float: right;
}
