<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="staffMapper">


	<update id="staffTimeUpdate" parameterType="staffTimeDTO">
		update stafftime set lastTime=#{lastTime} where num=#{num}
	</update>	
	<insert id="staffTime" parameterType="staffTimeDTO">
		insert into stafftime values(#{num},#{regdate},#{startTime},#{lastTime},#{store}) 
	</insert>
	
	<select id="staffTimeList" parameterType="staffTimeDTO" resultType="staffTimeDTO">
		select * from staffTime where store=#{store}
	</select>
	
	<select id="posStaffList" resultType="staffDTO" parameterType="String">
		select * from staff where store=#{store} order by time asc
	</select>
	
	<select id="selectOne" resultType="staffDTO" parameterType="String">
		select * from staff where num=#{num}
	</select>

	<select id="totalCount" resultType="int">
  		select nvl(count(num),0) from staff 
  	</select>

	<select id="selectList" parameterType="com.five.ware.util.RowNum" resultType="staffDTO">
		select * from
		(select rownum R, S.*from
		(select * from staff 
			<if test="kind=='name'"> 
				where name like '%'||#{search}||'%' 
			</if>
		
			<if test="kind=='hiredate'"> 
				where hiredate like '%'||#{search}||'%' 
			</if>
	 	order by num desc) S)
		where R between #{startRow} and #{lastRow}
	</select>
  
  <insert id="insert" parameterType="staffDTO">
  	insert into staff values(staff_seq.nextval, #{name},#{birth},#{hiredate},#{bank},#{account},#{time},#{store})
  </insert>
  <update id="update" parameterType="staffDTO">
   update staff set name=#{name}, birth=#{birth}, hiredate=#{hiredate}, bank=#{bank}, account=#{account}, time=#{time} where num=#{num} 
  </update>
  
  <delete id="delete">
  	delete staff where num=#{num}
  </delete>
  
  </mapper>
 
