<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="storeRegistMapper">
  
  
  <!--pw 변경  -->
  <update id="pwUpdate" parameterType="java.util.Map">
  	update storeregist set pw=#{pw} where code=#{code}
  </update>
  
  <!--pw확인  -->
  <select id="pwCheck" parameterType="String" resultType="String">
  	select pw from storeregist where code=#{code}
  </select>
  
   <!-- login -->
  <select id="login" resultType="storeRegistDTO" parameterType="storeRegistDTO">
  	select * from storeregist where code=#{code} and pw=#{pw}
  </select> 
  
   <!--My Page  -->
 <update id="myPageUpdate" parameterType="storeRegistDTO">
 	update storeregist set name=#{name}, tel=#{tel}, email=#{email}, bank=#{bank},account=#{account} where code=#{code}
 </update>
  
  
  <insert id="insert" parameterType="storeRegistDTO">
  	insert into storeRegist values(#{code},#{store},#{storeNum},#{name},#{addr},#{tel},#{email},#{bank},#{account},#{time},#{pw})
  </insert>
  
  <select id="selectList" parameterType="com.five.ware.util.RowNum" resultType="storeRegistDTO">
   	select * from
	(select rownum R, S.*from
	(select * from storeregist 
		<if test="kind=='code'"> 
			where code like '%'||#{search}||'%' 
		</if>
	
		<if test="kind=='store'"> 
			where store like '%'||#{search}||'%' 
		</if>
	
		<if test="kind=='name'"> 
			where name like '%'||#{search}||'%' 
		</if>
	 order by code desc) S)
	where R between #{startRow} and #{lastRow}
  </select>
  
  <select id="allStoreList" resultType="storeRegistDTO">
  	select * from storeregist
  </select>
  
  <select id="totalCount" resultType="int">
  select nvl(count(code),0) from storeRegist 
  </select>
  
  <select id="selectOne"  resultType="storeRegistDTO">
   select * from storeregist where code=#{code}
  </select>
  
  <delete id="delete">
   delete storeregist where code=#{code}
  </delete>
  
  <update id="update">
  update storeregist set store=#{store},storeNum=#{storeNum},name=#{name},addr=#{addr},tel=#{tel},email=#{email},bank=#{bank},account=#{account},time=#{time} where code=#{code}
  </update>
  </mapper>
 
