<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="storeSalesMapper">
  	<select id="getNum" resultType="int">
  		select store_seq.nextval from dual
  	</select>
  
  	<insert id="insert" parameterType="storeSalesDTO">
  		insert into storesales values(#{store},#{product},#{salesAmount},#{productSales},#{regdate},#{num},#{time},#{totalPrice})
  	</insert>
  	
  	<select id="selectList" resultType="storeSalesDTO" parameterType="storeSalesDTO">
  		select DISTINCT store,regdate,num,time,totalPrice from storesales where regdate=#{regdate} and store=#{store} order by num asc
  	</select>
   
   <select id="selectOne" resultType="storeSalesDTO" parameterType="storeSalesDTO">
   	select * from storesales where num=#{num} order by num asc
   </select>
   
   
   <!-- 총 갯수-->
   <select id="salesAmount" parameterType="storeSalesDTO" resultType="int">
   		select nvl(SUM(salesamount), 0) from storesales where store=#{store} and product=#{product} and regdate=#{regdate}
   </select>
   
   <!-- 총 금액 -->
   <select id="productAmount" parameterType="storeSalesDTO" resultType="int">
   		select nvl(SUM(productsales), 0) FROM storesales where store=#{store} and product=#{product} and regdate=#{regdate}
   </select>
   
   <!--memu List  -->
   <select id="menuList"  resultType="String">
   		select menuname from menuregist
   </select>
   
   <!-- storeMoney insert -->
   <insert id="storeMoneyInsert" parameterType="storeMoneyDTO" >
   		insert into storemoney values(store_seq.nextval,#{storeCode},#{store},#{product},#{salesAmount},#{productSales},#{regdate})
   </insert>
   
   <!--매출 검색  -->
   <select id="salseList" parameterType="java.util.Map" resultType="storeMoneyDTO">
   		select * from storemoney 
   		<if test="store=='all' and product !='all' ">
   			where regdate=#{regdate} and product=#{product}
   		</if>
   		
   		<if	test="product=='all' and store !='all'">
   			where store=#{store} and regdate=#{regdate} 
   		</if>
   		
   		 <if test="product=='all' and store=='all'">
   			where regdate=#{regdate}
   		</if>
   		
   		<if test="product !='all' and store !='all'">
   			where store=#{store} and regdate=#{regdate} and product=#{product}
   		</if>
   		order by regdate desc
   </select>
   
  </mapper>
 
