@CHARSET "UTF-8";







#eb_contents_wrap{
	width:100%;
	height: 90%;
	margin : 0 auto;
	margin-top : 10px;
	background-color: white;  
}

.eb_contents_text{
	width: 70%;
	height:5%;
}

#eb_contents_text_p{
    font-size: 30px;
    font-weight: bold;
    /* margin-left: 5%; */
    margin-top: 1.5%;
}



.eb_blank{
	width: 100%;
	height: 30px;
}



#submenu_table_1{
	width: 25%;
	height: 50%;
	margin-left: 200px;
	float: left;
	margin-top: 10%;
	background-color: #F6F6F6;
}

#submenu_table_2{
	width: 25%;
	height: 50%;
	float: right; 
	margin-right: 250px;
	margin-top: 10%;
	background-color: #F6F6F6;
}

.eb_h{
	margin-top: 15%;
	text-align: center;

}	
