@CHARSET "UTF-8";





#eb_contents_wrap{
	width:100%;
	height: 90%;
	margin : 0 auto;
	margin-top : 10px;
	background-color: white;  
}

.eb_contents_text{
	width: 70%;
	height:5%;
}

#eb_contents_text_p{
    font-size : 25px;
	font-weight: bold;
}


.eb_text{
	font-size: 20px;
	color:red;
}


.eb_blank{
	width: 100%;
	height: 30px;
}

#eb_contents_table{
	width:80%;
	height:300px;
	margin-top : 20px;

}




#submenu_table_1{
	padding-top : 15%;
	width: 30%;
	height: 40%;
	margin: 0 auto;
}

#submenu_table_2{
	padding-top : 15%;
	width: 30%;
	height: 40%;
	margin: 0 auto;
	display: none;
}
