@CHARSET "UTF-8";

*{
	margin: auto 0;
	padding: auto 0;
}

#login_after_wrap{
	width: 100%;
	height: 100%;
}

#lofin_after_header{
	width: 100%;
	height: 5%;
	background-color: #282828;
}

#lang_wrap{
	width: 15%;
	height: 100%;
	float: left;
}

#lang_icon{
	width: 20%;
	height: 100%;
	float: left;
	color:white;
}

#lang_eng{
	width: 35%;
    height: 100%;
 	color : white;
    float: left;
}

#lang_kor{
	width: 35%;
    height: 100%;
	color : white;
    float: left;
}

#lang_p{
	font-size: 20px;
}

#menu_wrap{
	width: 34%;
    height: 100%;
    float: left;
    background-color: orange;
    margin-left: 5%;
    font-size: 30px;
}

#search_wrap{
	width: 15%;
	height: 100%;
	float: right;
}
#logout_btn{
	height: 100%;
	width: 40%;
	margin-left: 55%;
}

#login_after_middle{
	width: 100%;
	height: 90%;
}

#info_wrap{
	width: 20%;
	height: 100%;
	float: left;
}

#pro_info{
	width: 100%;
	height: 15%;
}

#pro_info_1{
	width: 50%;
	height: 100%;
	float: left;
}

#pro_img{
	width: 60%;
	height: 60%;
	border-radius: 50%;
	float: left;
	margin-left: 20%;
	margin-top: 4%;
}
.eb_default_img{
	width: 60px;
	height: 60px;
}

#name_p{
	font-size: 13px;
	
}

#sche_p{
	margin-left: 20%;
	color : gray;
}

#quick_p{
	color : #CE3636;
	font-size: 15px;
	font-weight: bold;
	padding-left: 5px;
}

#quick_menu_box{
	width: 80%;
	height: 40%;
	background-color: #E6E6E6;
	margin: 0 auto;
}
.eb_line{
	width: 95%;
	margin : 0 auto;
	border-bottom: 1px solid #D5D5D5;
}

#pro_info_2{
	width: 50%;
	float: right;
	height: 100%;
}

#alert_menu{
	width: 100%;
	height: 68%;
}

#sche_info{
	width: 100%;
	height: 25%;
	background-color: #F6F6F6;
}

#sche_add{
	width: 100%;
	height: 15%;
	background-color: #F6F6F6;
}

#quick_menu{
	width: 100%;
	height: 20%;
	background-color: #F6F6F6;
}

#often_call{
	width: 100%;
	height: 25%;
	background-color: #F6F6F6;
}



#contents_wrap{
	width: 80%;
    height: 100%;
    background-color: #F6F6F6;
    float: right;
}

#myPage_wrap{
	width: 100%;
	height: 10%;
	
}

#myPage_title{
	width: 30%;
	height: 100%;
	float: left;
}

#myPage_title_p{
	margin-top : 5px;
	font-size: 40px;
	color:#CE3636;
}



#myPage_text{
	width: 40%;
	height: 100%;
	margin-top: 15px;
	font-size:20px;
	float: left;
}

#weather_div{
	width: 20%;
	height: 100%;
	float: left;
}
.weather_div_p{
	padding-top: 15px;
}

#skin_icon{
	width: 5%;
	height: 100%;
	float: left;
}

#edit_icon{
	width: 5%;
	height: 100%;
	float: left;
}

#submenu_wrap{
	width: 100%;
	height: 90%;
	background-color: #E6E6E6;
}

#login_after_footer{
	width: 100%;
	height: 5%;
	background-color: #282828;
}

.fa{
	margin-left: 3% !important;
    margin-top: 2% !important;
}



/*---------------------*/
.eb_blank{
	width: 50%;
	height: 10%;
}

#submenu_table{
	width: 65%;
	height: 85%;
	margin: 0 auto;
	background-color: white;
	
}

/* 
.eb_table{
	width: 100%;
	height: 10%;
}
 */

#eb_photo{
	width: 15%;
	height: 30%;
	border : 1px solid gray;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

#eb_contents_1{
	width: 38%;
	height: 30%;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	background-color: red;
	
}

#eb_contents_1_1{
	width: 38%;
	height: 30%;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	background-color: blue;
	
}

#eb_contents_2{
	width: 96%;
	height: 60%;
	background-color: red;
	margin-top: 25%;
	margin-left: 20px;
}

.eb_name{
	font-size: 22px;
}