@CHARSET "UTF-8";


*{
	margin: 0px;
	padding: 0px;
}
#fw_container{
	width: 100%;
	height: 100%;
	 background-color: white; 
	transition: width 0.3s;	
}

#fw_subcontainer{
	background-color: #EAEAEA;
	float:left;
	width: 15%;
	height: 100%;
} 

#fw_subbanner{
		background-color: black;
		color : white;
		height: 8.5%;
		width: 100%;
		font-size : 30px;
		font-weight: bolder;
		text-align: center;
		line-height: 240.5%;
}

.fw_menu{
	width: 100%;
	height: 5%;
	float:left;
	background-color: #EAEAEA;
	font-weight: bold;
    font-size: 16px;
    line-height: 324%;
    padding-left: 6%;
    padding-top:1%;
}


.fw_selected{
	color: red;
   
}

.fw_arrow{
	width:15%;
	float:right;
	height: 100%;
	background-color: #EAEAEA;
	size:20px; 
}

.fw_subselected{
	width: 70%;
	background-color: #EAEAEA;
	margin: 0 auto;
	padding-top:1%;
}

.fw_subsub{
	width: 70%;
	background-color: #EAEAEA;
	margin: 0 auto;
	padding-top:1%;
}
li{
	list-style: none;
}
#fw_main{
	background-color: white;
	height: 8.5%;
	width: 100%;
}

#fw_mainwrap{
	/*  background-color: blue;  */  
	width: 72%;
	height : 100%;
	/* margin-left: 28%; */
	float: left;
}





#eb_contents_wrap{
	width:100%;
	height: 90%;
	margin : 0 auto;
	margin-top : 10px;
	background-color: white;  
}

.eb_contents_text{
	width: 70%;
	height:5%;
}

#eb_contents_text_p{
    font-size : 25px;
	font-weight: bold;
}



.eb_blank{
	width: 100%;
	height: 30px;
}



#submenu_table_1{
	width: 25%;
	height: 50%;
	margin-left: 200px;
	float: left;
	margin-top: 50px;
	background-color: #F6F6F6;
}

#submenu_table_2{
	width: 25%;
	height: 50%;
	float: right; 
	margin-right: 250px;
	margin-top: 50px;
	background-color: #F6F6F6;
}

.eb_h{
	margin-top: 15%;
	text-align: center;

}	
