@CHARSET "UTF-8";

#fw_main_contents {
	width: 100%;
	height: 95%;
	background-color: white;
}

#erp_jh_contents_title {
	width: 100%;
	height: 10%;
	overflow: hidden;
}

#event_icon {
	width: 15%;
	height: 100%;
	float: left;
}

#logoImg {
	    margin-top: 1.2%;
}

#event_title {
	font-size: 30px;
	font-weight: bold;
	margin-top: 1.5%;
}

#erp_jh_event_sub {
	width: 90%;
    height: 16%;
    background-color: #f6f6f6;
    padding-top: 0.5%;
    margin-left: 5%;
}

#event_contents {
	height: 90%;
	width: 70%;
	margin-left: 15%;
	text-align: center;
	border-bottom: 2px solid #929292;
	border-top: 2px solid #929292;
}

#event_search {
	width: 70%;
	height: 35%;
	margin-left: 15%;
	margin-top: 1.5%;
}

#erp_jh_contents_table {
	    width: 100%;
    height: 71%;
    margin-top: 3%;
    overflow: scroll;
}

.eventList {
	width: 80%;
	height: 40%;
	margin-left: 10%;
	margin-bottom: 2%;
}

.eventImg_div {
	width: 23%;
	height: 100%;
	margin-right: 5%;
	float: left;
}

.eventImg {
	width: 230px;
	height: 227px;
}

.eventText {
	width: 72%;
	height: 100%;
	float: right;
}

.blackListName {
	width: 100%;
	height: 20%;
	float: left;
	background-color: #CE3636;
	font-size: 25px;
	color: white;
}

.infoTable {
	height: 65%;
	width: 100%;
	float: left;
	background-color: #F6F6F6;
	margin-top: 4%;
	font-size: 16px;
}

#erp_jh_contents_bottom {
	width: 100%;
	height: 3%;
}