@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

.ar_plusTitle{
	width: 100%;
	height: 5%;
	background-color: #ff6666;
	margin-bottom: 1%;
	
}

#ar_plustext{
	font-size: 18px;
	font-weight: bold;
	padding-top: 1.5%;
	margin-left: 2%;
}

.ar_plusSearchWrap{
	width: 100%;
	height: 20%;
	background-color: #fbc87b;
	margin-bottom:2%;
	padding-top: 3%;
}



.ar_contestWrap{
	width: 100%;
	height: 50%;
	background-color: #c0c0e0;
}

.ar_contestTitle{
	width: 90%;
	height: 10%;
	display: inline-block;
	float:left;
	background-color: #ffffd9;
}

.ar_contestTitleBtn{
	width: 10%;
	height: 10%;
	display: inline-block;
	float:left;
	background-color: #ff80c0;
}

.ar_ar_contestMenu{
	width: 100%;
	height: 90%;
	    float: left;
	background-color: #00b7b7;
	border-top: 1px dashed black; 
	padding-top: 3%;
	padding-left: 5%;
}

#ar_contestInfo{
	width: 80%;
	height: 90%;
	background-color: #acffac;
	border: 1px solid black;
	margin: auto;
	text-align: center;
}

.ar_contestJoin{
	width: 25%;
	height: 90%;
	background-color: #ffbbff;
	border: 1px solid black;
	display: inline-block;
	margin-right: 5%;
}

.ar_menuimg{
	width: 100%;
	height: 100%;
}

.ar_contestPhoto{
	width: 100%;
	height: 45%;
	background-color: #e1c4c4;
}

.ar_contestContain{
	width: 100%;
	height: 45%;
	background-color: #ff9393;
	padding: 5% 5%;
}

.ar_contestLike{
		width: 100%;
	height: 10%;
	background-color: #ffca95;
}

.modal-dialog {
    width: 649px;
    margin: 30px auto;
}

.modal-body {
    height: 600px !important;
}

.modal-body1 {
	position: relative;
    padding: 15px;
    height: 790px !important;
}

.input-group{
	margin-bottom: 2%;
}

#ar_recipe{
	width: 100%;
	height: 100px;
}

.ar_area{
	width: 100%;
	height: 20%;
}

#ar_info{
	width: 100%;
	height: 100%;
}
.ar_like{
	display:inline-block;
	text-align: right;
	margin-right: 2%;
}

.ar_big{
	display:inline-block;
	text-align: right;
	margin-right: 2%;
}

.ar_Viewphoto{
	width: 100%;
	height: 300px;
	background-color: yellow;
	margin-bottom: 3%;
}