@CHARSET "UTF-8";


.ar_plusTitle{
	width: 100%;
	height: 5%;
	margin-bottom: 1%;
	
}

#ar_plustext{
	font-size: 30px;
	font-weight: bold;
}

.ar_plusSearchWrap{
	width: 62%;
    height: 9%;
    background-color: #f6f6f6;
    margin-bottom: 2%;
    margin: 0 auto;
    padding-top: 2.5%;
    padding-left: 18%;
    margin-bottom: 1%;
    border-top: 2px solid #828282;
    border-bottom: 2px solid #828282;
}

.ar_plusSearch{
	width: 50%;
	height: 50%;
	margin-left: 2%;
}

#ar_psearch{
	 width: 20%;
    height: 77%;
    margin-left: 2%;
    margin-top: 1%;
}

#ar_psearchBtn{
	width: 12%;
    height: 75%;
	margin-left: 2%;
	border: 0px;
	font-size: 12px;
	margin-bottom: 0.5%;
}

.ar_plusDivWrap{
	width: 100%;
	height: 50%;
	margin-bottom: 2%;
	    overflow: scroll;
}


.ar_titleDiv{
	width: 100%;
	height: 10%;
	text-align: center;
	
}


#ar_signTableWrap{
	width: 100%;
	height: 60%;
/* 	margin-top: 12%; */
	border-top: 2px solid gray;
}

#ar_signTable{
	width: 100%;
}

.ar_tableTitle{
	text-align: center;
    font-weight: bold;
    background-color: black;
    height: 37px;
    padding-right: 9px;
    font-size: 13px;
    color: white;
}

.ar_tableInput{
	 padding-left: 5px;
	 font-size: 14px;
}

#ar_docuTitle{
	width: 98%;
	height: 30px;
}

#ar_tableTextArea{
	width: 100%;
	height: 250px;
	float:left;
	background-color: white;
}

input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
    line-height: 23px;
}


#ar_fileLineWrap{
	width: 100%;
	height: 50px;
}

#ar_fileWrap{
	width: 93%;
	height: 50%;
	display: inline-block;
	margin-top: 1%;
}

.epaymentFile{
	display: inline-block;
	float: left;
	width: 210px;
}

.ar_filedelete{
	display: inline-block;
	float: left;
	margin-right: 10%;
	padding-top: 0.3%;
	width: 2%;
}

.ar_ffWrap{
	display: inline-block;
	float: left;
	margin-right: 10%;
} 

#ar_tableTextArea2{
	width: 100%;
	height: 100px;
	float:left;
	background-color: white;
}

