@CHARSET "UTF-8";


#fw_main_contents{
	width: 100%;
	height: 91%;
	background-color: white;
}

#erp_jh_contents_title{
	width: 100%;
	height: 10%;
	background-color: #ffe1e7;
	overflow: hidden;
}

#event_icon{
	width: 6%;
	height: 100%;
	background-color: #ff84c1;
	float: left;
}

#event_title{
	font-size: 30px;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 1.5%;
}

#erp_jh_event_sub{
	width: 100%;
    height: 16%;
    background-color: #e7ceff;
    padding-top: 0.5%;
}

#event_contents{
	height: 90%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    border-bottom: 2px solid #929292;
    border-top: 2px solid #929292;
}

#event_search{
	width: 70%;
    height: 35%;
    margin-left: 15%;
    background-color: #ce9dff;
    margin-top: 1.5%;
}

#erp_jh_contents_table{
	width: 100%;
    height: 80%;
    background-color: #ffffce;
    margin-top: 1%;
}

.eventList{
	width: 80%;
    height: 35%;
    background-color: #ddffdd;
    margin-left: 10%;
    margin-bottom: 2%;
}

.eventImg_div{
	width: 30%;
	height: 100%;
	background-color: #e1ffff;
	margin-right: 5%;
	float: left;
}

.eventImg{
	width: 260px;
    height: 234px;
}

.eventText{
	width: 65%;
	height: 100%;
	background-color: #cde7e7;
	float: right;
}

.eventTitle{
	width: 90%;
	height: 17%;
	background-color: #ffe7db;
	margin-bottom: 1%;
	display: inline-block;
	float: left;
	padding-top: 1.5%;
}

.eventBtn{
	width: 10%;
	height: 17%;
	background-color: #ffa8ff;
	margin-bottom: 1%;
	display: inline-block;
	float: left;
}

#ar_contestPlus{
	width: 100%;
	height: 80%;
	margin-top: 10%;
}

.eventOption{
	width: 100%;
	height: 67%;
	background-color: #f3e9e9;
	overflow: scroll;
}

.eventPrize{
	width: 100%;
	height: 25%;
	background-color: #ffffca;
	/* overflow: inherit; */
	border-top: 1px dashed black;
}

.eventFile{
	width: 100%;
	height: 12%;
	background-color: #ffcce6;
}

#erp_jh_contents_bottom{
	width: 100%;
	height: 5%;
	background-color: #c0c0c0;
	margin-top: 8%;
}

.eventImg_div{
	text-align: center;
	padding-top: 7%;
}

.ar_numTitle{
	font-size: 30px;
}

.ar_prizeTitle{
	margin-top: 5%;
	
}

.ar_nameTitle{
	margin-top: 3%;
	font-size: 20px;
}