@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

#fw_container{
	width: 99%;
	height: 100%;
	background-color: lightblue;
	transition: width 0.3s;	
	margin-left: 1%;
}

#free_header{
	width: 100%;
    background-color: #ffdfe4;
    height: 13%;
}

#free_icon{
	height: 100%;
	width: 5%;
	background-color: #ff8080;
	float: left;
}

#free_title{
	height: 100%;
	width: 15%;
	background-color: #ffc8b0;
	float: left;
}

#free_middle{
	width: 100%;
    height: 75%;
}

#free_sub_title{
	width: 50%;
	height: 10%;
	margin-left: 25%;
}

#free_contents{
	width: 80%;
    height: 88%;
    background-color: #F6F6F6;
    margin-left: 10%;
}

.free_temp_select{
	width: 40% !important;
}

.free_write_input{
	width: 80% !important;
}

.free_textarea{
	width: 92.5% !important;
	height: 450px !important;
}

#free_file_add{
	float: left;
	margin-left: 5%;
}

#free_file_div {
    width: 50%;
    height: 79%;
    margin-left: 2%;
    float: left;
}

#free_footer{
	width: 100%;
    background-color: #cdcde7;
    height: 12%;
}

.free_write_btn{
	margin-left: 10%;
}

.free_file_sdiv{
	float: left;
	width: 55%;
}

.freeViewBtns{
	float: right;
	margin-right: 1%;
}

#freeViewBtn4{
	margin-right: 10%;
}

.freeViewFiles{
	margin-left: 10%;
}

#free_footer a{
	text-decoration: none;
}