@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

#fw_container{
	width: 99%;
	height: 100%;
	transition: width 0.3s;	
	margin-left: 1%;
}

#logoImg {
	margin-top: 9%;
	margin-left: 11%;
}

#free_header{
	width: 100%;
    background-color: #ffdfe4;
    height: 13%;
}

#free_icon{
	height: 100%;
	width:15%;
	float: left;
}

#free_title{
	height: 100%;
	width: 15%;
	float: left;
	font-size: 30px;
	font-weight: bold;
	margin-top: 1.4%;
}

#free_middle{
	width: 100%;
    height: 75%;
}

#free_sub_title{
	width: 50%;
    height: 10%;
    margin-left: 25%;
    text-align: center;
    padding: 1%;
    font-size: 18px;
    background-color: #f6f6f6;
    margin-top: 1%;
    margin-bottom: 1%;
}

#free_contents{
	width: 80%;
    height: 83%;
    margin-left: 10%;
    padding: 20px;
}

#free_contents thead{
	color: white;
	background-color: #824100;
}

#free_search{
	width: 50%;
    height: 10%;
    margin-left: 25%;
}

.free_select{
	width: 20%;
	float: left;
	margin-right: 1%;
}

.free_search_input{
	width: 50%;
	float: left;
	margin-right: 1%;
}

#free_pager{
	width: 30%;
	height: 10%;
	margin-left: 35%;
	text-align: center;
}

#free_footer{
	width: 100%;
    height: 12%;
}

#free_table{
	    margin-top: 4%;
}

#newFreeInserBtn{
	float: right;
    margin-right: 10%;
}

#free_sub_title a{
	text-decoration: none;
}

