@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

#logoImg {
	margin-top: 9%;
	margin-left: 11%;
}

#fw_container{
	width: 99%;
	height: 100%;
	/* background-color: lightblue; */
	transition: width 0.3s;	
	margin-left: 1%;
}

#free_header {
    width: 100%;
    height: 13%;
    border-bottom: 2px solid;
}

#free_icon{
	height: 100%;
	width: 15%;
	float: left;
}

#free_title{
	height: 100%;
	width: 15%;
	float: left;
	font-size: 30px;
	font-weight: bold;
	margin-top: 1.4%;
}

#free_middle{
	width: 100%;
    /* background-color: #ffffcc; */
    height: 75%;
}

#free_sub_title{
	width: 50%;
	height: 10%;
	margin-left: 25%;
	/* background-color: #f8edd3; */
	font-size: 17px;
}

#free_contents {
    width: 80%;
    height: 90%;
    margin-left: 10%;
    margin-top: 3%;
    padding: 20px;
}

#free_contents thead{
	color: white;
	background-color: #824100;
}

.free_temp_select{
	width: 80% !important;
}

.free_write_input{
	width: 80% !important;
}

.free_textarea{
	width: 99% !important;
	height: 450px !important;
}

#free_file_add{
	float: left;
	margin-left: 12%;
}

#free_file_div {
    width: 44%;
    /* background-color: #bbffff; */
    height: 79%;
    margin-left: 2%;
    float: left;
}

#free_footer{
	width: 100%;
    background-color: #cdcde7;
    height: 12%;
    margin-top: 2%;
}

.free_write_btn{
	margin-left: 68%;
}

.free_file_sdiv{
	float: left;
	width: 55%;
}
