@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

#fw_container{
	width: 99%;
	height: 100%;
	transition: width 0.3s;	
	margin-left: 1%;
}

#reply_header{
	 width: 100%;
    height: 13%;
    border-bottom: 2px solid;
}

#reply_icon{
	height: 100%;
	width: 15%;
	float: left;
}

#logoImg {
	margin-top: 9%;
	margin-left: 11%;
}

#reply_title{
	height: 100%;
	width: 15%;
	float: left;
	font-size: 30px;
	font-weight: bold;
	margin-top: 1.4%;
}

#reply_middle{
	width: 100%;
    height: 75%;
}

#reply_sub_title{
	width: 50%;
	height: 10%;
	margin-left: 25%;
}

#reply_contents {
    width: 80%;
    height: 90%;
    background-color: #F6F6F6;
    margin-left: 10%;
    margin-top: 1%;
    padding: 20px;
}

#reply_contents thead{
	color: white;
	background-color: #824100;
}

.reply_temp_select{
	width: 80% !important;
}

.reply_write_input{
	width: 80% !important;
}

.reply_textarea{
	width: 99% !important;
	height: 450px !important;
}

#reply_file_add{
	float: left;
	margin-left: 11%;
}

#reply_file_div {
    width: 50%;
    height: 79%;
    margin-left: 2%;
    float: left;
}

#reply_footer{
	width: 100%;
    height: 12%;
    margin-top: 1%;
}

.free_reply_btn{
	margin-left: 71%;
}

.reply_file_sdiv{
	float: left;
	width: 55%;
}
