@CHARSET "UTF-8";

* {
	
	margin: 0;
	padding: 0;
}

#ej_sidebar {
			width: 195px;
			overflow: hidden;
			background-color: black;
		}
	
		
		.ej_home {
			display: block;
			padding-left: 8px;
		    height: 56px;
		    text-indent: -9999px;
		    background: url(../../images/sidebar/quick_bg.png) no-repeat right 19px;
		}
		
		#ej_menu {
			padding-left: 8px; 
		}
		
		.ej_icon {
		    display: inline-block;
		    height: 15px;
		    width: 47px;
		    vertical-align: -2px;
		    background: url(../../images/sidebar/quick_bg.png) no-repeat right -51px;
		}
		
		.ej_sidebar_contents p{
			background-color: white;
			border: none;
			padding: 10px 5px;
		}
		
		/* 로그아웃 */
		
		/* 메뉴리스트 */
		.ej_sidebar_nav {
			overflow: hidden;
		    padding-top: 50px;
		}
		
		.ej_sidebar_nav ul {
			margin: 0;
			padding: 8px 0 8px 8px;
		}
		
		.ej_menu_color {
			color: red !important;
		}
		
		/* 메뉴리스트 - images */
		
		.ej_sidebar_menu {
			display: block;
		    height: 40px;
		    margin-top: 4px;
		    line-height: 40px;
		    padding-left: 50px;
		    white-space: nowrap;
		    color: #fff;
		    background-image: url(../..//images/sidebar/quick_product.png);
		    background-repeat: no-repeat;
		}
		
		.ej_notice {
	        background-position: 0 -80px;
		}
		
		.ej_account {
		    background-position: 0 -400px;
		}
		
		.ej_sales {
		    background-position: 0 -720px;
		}
		
		.ej_resource {
		    background-position: 0 -320px;
		}
		
		.ej_calendar {
			background-position: 0 -120px;
		}
		
		.ej_facing {
		    background-position: 0 -840px;
		}
		
		.ej_address {
		    background-position: 0 -280px;
		}
		
		.ej_organization {
		    background-position: 0 -240px;
		}