@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

#fw_container{
	width: 100%;
	height: 100%;
	transition: width 0.3s;	
}

#fw_subcontainer{
    float: left;
    width: 15%;
    /* position: fixed;
    left: 12.34%; */
    height: 100%;
} 

#fw_subbanner{
	color:white;
	background-color: black;
		height: 8.5%;
		width: 100%;
		font-size : 30px;
		font-weight: bolder;
		text-align: center;
		line-height: 240.5%;
}

.fw_menu{
	width: 100%;
	height: 5%;
	float:left;
	background-color: #f6f6f6;
	  font-weight: bold;
    font-size: 16px;
    line-height: 324%;
    padding-left: 6%;
    padding-top:1%;
}


.fw_selected{
	color: red;
   
}

.fw_arrow{
	width:15%;
	float:right;
	height: 100%;
	size:20px; 
	cursor: pointer;
}

.fw_subselected{
	width: 70%;
	margin: 0 auto;
	padding-top:1%;
}

.fw_subsub{
		width: 70%;
	margin: 0 auto;
	padding-top:1%;
}

#fw_main{
	/* background-color: green; */
	height: 8.5%;
	width: 100%;
	padding-top: 1.2%;
	background-color: rgba(255,255,255,.15);
    padding-left: 1%;
    border-bottom: 2px solid black;
}

#fw_mainwrap{
    /* background-color: blue; */
    width: 77%;
    height: 100%;
    float: left;
}

.modal-header{
	background-color: #f78478;;
}