@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

#fw_container{
	background-color: lightblue;	
}

#fw_subcontainer{
	background-color: pink;
	float:left;
	width: 17%;
	height: 100%;
}

#fw_subbanner{
		background-color: red;
		height: 8.5%;
		width: 100%;
		
}

#fw_main{
	background-color: green;
		height: 8.5%;
		width: 100%;
}

#fw_mainwrap{
	background-color: blue;
	width: 72%;
	height : 100%;
	margin-left: 28%;
}