@CHARSET "UTF-8";
@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}
#fw_container{
	width: 100%;
	height: 100%;
	background-color: lightblue;
	transition: width 0.3s;	
}

#fw_subcontainer{
	background-color: pink;
	float:left;
	width: 15%;
	height: 100%;
} 

#fw_subbanner{
		background-color: red;
		height: 8.5%;
		width: 100%;
		font-size : 30px;
		font-weight: bolder;
		text-align: center;
		line-height: 240.5%;
}

.fw_menu{
	width: 100%;
	height: 5%;
	float:left;
	background-color: yellow;
	  font-weight: bold;
    font-size: 16px;
    line-height: 324%;
    padding-left: 6%;
    padding-top:1%;
}


.fw_selected{
	color: red;
   
}

.fw_arrow{
	width:15%;
	float:right;
	height: 100%;
	background-color: purple;
	size:20px; 
}

.fw_subselected{
	width: 70%;
	background-color: #d1eaf1;
	margin: 0 auto;
	padding-top:1%;
}

.fw_subsub{
		width: 70%;
	background-color: #d1eaf1;
	margin: 0 auto;
	padding-top:1%;
}

#fw_main{
	background-color: green;
		height: 8.5%;
		width: 100%;
}

#fw_mainwrap{
	 background-color: blue;  
	width: 72%;
	height : 100%;
	/* margin-left: 28%; */
	float: left;
}

#contents_wrap{
	width:100%;
	height: 90%;
	margin : 0 auto;
	margin-top : 10px;
	background-color: white;  
}

.contents_text{
	width: 70%;
	height:5%;
}

#contents_text_p{
    font-size : 25px;
	font-weight: bold;
}

#contents_box{
	width: 70%;
	height:20%;
    background-color :#EAEAEA;
	margin-top: 5px;
}

#contents_box_table{
	width: 90%;
	height: 65%;
	margin-top: 70px;
	margin: 0 auto;
}
.text{
	font-size: 20px;
	color:red;
}



#contents_table{
	width: 70%;
	height:60%;
	margin-top : 20px;
}

#table_head{
	background-color: #4E2800;
	color:white;
}

#page{
	width: 50%;
	height: 7%;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
}
li{
	list-style: none;
}

.blank{
	width :100%;
	height: 30px;
}
.modal-content{
	width: 700px;
	height: 500px;
	
}

#modal_table{
	width:100%;
	height:300px;
	
}