@CHARSET "UTF-8";

.ar_plusTitle{
	width: 100%;
	height: 5%;
	background-color: #ff6666;
	margin-bottom: 1%;
	
}

#ar_plustext{
	font-size: 18px;
	font-weight: bold;
	padding-top: 1.5%;
	margin-left: 2%;
}

.ar_plusSearchWrap{
	width: 100%;
	height: 7%;
	background-color: #fbc87b;
	margin-bottom:2%;
}

.ar_plusSearch{
	width: 80%;
	height: 50%;
	background-color: #c46200;
	margin-left: 2%;
}

.ar_blanktext{
	margin-left: 10%;
}

.diliselected{
	width: 20%;
}

#ar_ssearch{
	 width: 10%;
    height: 77%;
    margin-left: 2%;
    margin-top: 1%;
}

#ar_ssearchBtn{
	width: 12%;
    height: 75%;
	background-color: #ffff80;
	margin-left: 2%;
	border: 0px;
	font-size: 12px;
	margin-bottom: 0.5%;
}

.ar_plusDivWrap{
	width: 100%;
	height: 50%;
	background-color: #f0f779;
	margin-bottom: 2%;
}

.ar_titleDiv{
	background-color: #b68db3;
	width: 100%;
	height: 10%;
	text-align: center;
	
}

.ar_titleDiv1 {
 	display: inline-block;	
 	font-weight: bold;
 	border-right: 1px solid white;
}

.ar_listDiv1 {
 	display: inline-block;	
 	
}

.ar_listDiv{
	background-color: #ffb3ff;
	width: 100%;
	height: 8%;
	text-align: center;
	border-bottom: 1px lightgray solid;
	
}

.ar_CodeTitle{
	width: 10%;
	height: 50%;
	margin-top: 1%;
	display: inline-block;
}

.ar_NameTitle{
	width: 8%;
	height: 50%;
	display: inline-block;
	
}

.ar_Code{
	font-weight: bold;
	text-decoration: underline;
}



.ar_DiliWrap{
	width: 20%;
	height: 50%;
	display: inline-block;
	border-bottom: 1px solid white;
}

.ar_Dili{
	width: 100%;
	height: 50%;
	display: inline-block;
	
}

.ar_SecTitle {
	width: 48.78%;
	height: 100%;
	display: inline-block;
	
}

.ar_UseTitle{
	width: 7%;
	height: 50%;
	display: inline-block;
}

.ar_DateTitle{
	width: 10%;
	height: 50%;
	display: inline-block;
}

.ar_OtherTitle{
	width: 20%;
	height: 50%;
	display: inline-block;
}

.ar_plusButtonWrap{
	width: 100%;
	height: 8%;
	background-color: #c1ffc1;
}

#ar_deleteBtn{
	width: 10%;
	height: 40%;
	background-color: white;
	border: 1px lightgray solid;
}

#ar_insertBtn{
	width: 10%;
	height: 40%;
	background-color: gray;
	border: 1px black solid;
	float: right;
}

.ar_positiontext{
	font-weight: bold;
	margin-right: 1%;
	
}
.ar_positiontext1{
	margin-right: 3.5%;
	font-weight: bold;
}

.arin_pcodeInput1{
	width: 70%;
}

.arin_pcodeInput{
	width: 83%;
}
.ar_blank {
	width: 100%;
	height: 25%;
}

.modal_topWrap{
	background-color: #ffbdde;
	border: 1px solid #ff80c0;
	height: 115px;
}

.ar_salInsert{
	margin-top: 3%;
	margin-left: 3%;
}

.ar_salInsert2{
	margin-top: 3%;
	margin-left: 3%;
	display: inline-block;
	width: 51%;
}

.ar_salInsert3{
	margin-top: 3%;
	margin-left: 3%;
	display: inline-block;
	width: 33%;
}

.ar_salInsert1{
	margin-top: 3%;
	margin-left: 3%;
	display: inline-block;
	width: 46%;
}

.modal-footer{
	margin-top: 25%;
}

#pcode_btn{
	border-bottom-color: #c0bbc6;
	height: 5%;
	border: 1px solid #c0bbc6;
	
}

.ar_modalMember {
    width: 29% !important;
    margin-left: 39% !important;
    margin-top: 9% !important;
}

.ar_TempSearch{
	background-color: #ef7a98;
	height: 50px;
	width: 100%;
	padding-top: 4%;
	padding-left: 3%;
	
}

.ar_sselect{
	margin-left: 1%;
}

#ar_dother{
	margin: 0px;
    width: 83%;
    height: 220px;;
    margin-left: 2%;
}

#ar_ddother{
		margin: 0px;
    width: 83%;
    height: 220px;;
    margin-left: 2%;
}

.modal-dialog {
    width: 54%;
    margin: 30px auto;
    margin-left: 30%;
    margin-top: 8%;
}

#ar_memsearchBtn{
	float: right;
}

.ar_memsearchBtnWrap{
	width: 100%;
	background-color: gray;
	margin-top: 1.5%;
	height: 35px;
}

.ar_memVacTitle{
	display: inline-block;
	background-color: lime;
	height: 10%;
	text-align: center;
	font-weight: bold;
}

.ar_mem{
	width: 18%;
	display: inline-block;
	text-align: center;
	height: 10%
}

.ar_memOther{
	width: 44%;
	display: inline-block;
	height: 10%;
	text-align: center;
}

.ar_memberVacWrap{
	background-color: yellow;
}

.ar_tempSelect{
	width: 65%;
}

#ar_tempSearchBtn{
	width: 15%;
	height: 26px;
}

.ar_memberWrap{
    width: 95%;
    height: 404px;
    background-color: lightgray;
    margin: 0 auto;
    margin-top: 5%;
    overflow: scroll;
}

.ar_memmem{
	display: inline-block;	
	width: 90%;
}

.ar_memListTop{
	width: 100%;
	height: 10%;
	background-color: #ffcaff;
	padding-top: 2%;
}

.ar_memListCheck{
	display: inline-block;
	width: 10%;
	text-align:center;
}
.ar_memListNum{
	display: inline-block;
	width: 25%;
	text-align:center;
}
.ar_memListName{
	display: inline-block;
	width: 25%;
	text-align:center;
}
.ar_memListTemp{
	display: inline-block;
	text-align:center;
	width: 35%;
}

.ar_memListNum1{
	display: inline-block;
	width: 30%;
	text-align:center;
}
.ar_memListName1{
	display: inline-block;
	width: 31%;
	text-align:center;
}
.ar_memListTemp1{
	display: inline-block;
	text-align:center;
	width: 35%;
}


.ar_selectWrap{
	width: 50%;
}

.footer2{
	margin-top: 5% !important;	
}

.ar_inputWrap{
	border: 0px;
	text-align: center;
	    width: 100%;
}

.ar_mem input[type='text'] {
	height: 33px;
}

.ar_mmmem_inputBox {
	height: 30px;
	margin-top: 1%;
	    width: 100%;
}

.ar_mmmem_plus{
    background-color: gray;
    width: 56%;
    display: inline-block;
    float: left;
}

#ar_mmmem_other{
	background-color: lightgray;
    width: 40%;
    display: inline-block;
    float: left;
}

#ar_1memOther{
	display: inline-block;
	width: 100%;
}

.ar_SecTitle1 {
    width: 9.78%;
    height: 100%;
    display: inline-block;
}